/* Slider */
//@import "../icon-fonts/icon-fonts";

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  &:hover{
    .slick-arrow:not([aria-disabled="true"]){
      opacity: 1;
    }
  }
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
  max-height: 100%;

}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
	outline:none;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
	outline:none;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	bottom:0px;
	width:100%;
	text-align:center;
	font-size:0;
	line-height:0;
}
.slick-dots li {
	display:inline-block;
	vertical-align:top;
	padding:0 10px;
	margin:0;
}
.slick-dots li button {
	border:none;
	//background:#aeaeae;
	width:12px;
	height:12px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	outline:none;
	-webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
//.slick-dots li button:hover,
//.slick-dots li.slick-active button { background:#fccf00;}

.slick-arrow{
  background: none;
  color: transparent;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  z-index: 1;
  outline: none;
  padding: 0;
  text-align: center;
  //opacity:1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  background: rgba(255,255,255,0.9);
  border: 1px solid $grayBorder;
  transition: .2s;
  opacity: 0;

  &:before{
    width: 50px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    @extend .icon-1r_arrow;
    color: #C4C4C4;
    font-size: 10px;

  }
  &:hover{
    border-color: #C4C4C4;
  }
  &.slick-next{
    right: 0;
  }
  &.slick-prev{
    left: 0;
    transform: rotate(180deg);
  }
  &.slick-disabled{
    opacity:0;
  }
}

.slick-dots {
  li{
    padding: 0 4px;
    button{
     background: transparent;
    }
    &:after{
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $white;
      border: 1px solid $bege;
      display: block;
      transition: .3s;
      cursor: pointer;
    }
    &.slick-active{
      &:after{
        background: $bege;
      }
    }
  }
}

@media #{$media-767} {
  .slick-arrow {
    &:before {
      font-size: 18px;
    }
  }
  .slick-dots {
    li{
      &:after{
        content: '';
        width: 8px;
        height: 8px;
      }
    }
  }
}
.slick-type-1{
  .slick-arrow{
    //background-image: linear-gradient(to right, #ffffff, #ffffff00);
    //background-image: linear-gradient(to right, #ffffff, #ffffff0a);

    &:hover{
      &:before{
        color: #333333;
      }
    }
    &.slick-next{
      //background-image: linear-gradient(to left, #ffffff, #ffffff00);
      right: -1px;
    }
    &.slick-prev{
      //background-image: linear-gradient(to right, #ffffff, #ffffff00);
      left: -1px;
    }
  }
}

.slick-type-1{
  visibility: hidden;
  &.slick-initialized{
    visibility: visible;
  }
}

