doctype html
html(lang="en")
    - var pageTitle = 'Product';
    include ../includes/head
    body
        //script(type='text/javascript', src='/js/vendor/plyr.min.js')
        .wrapper
            .content
                include ../includes/header
                .page.inner
                    include ../includes/menu-top
                    .prod
                        include ../includes//breadcrumbs
                        .page-block-head
                            h1.page-title._type-1 Кофе в зернах Арабика
                        .prod__content
                            .prod__control
                                .prod__raiting
                                    .catg__stars
                                        .catg__star.icon-1b_star_full
                                        .catg__star.icon-1b_star_full
                                        .catg__star.icon-1b_star_full
                                        .catg__star.icon-1b_star_full
                                        .catg__star.icon-1b_star_full
                                    a(href="#") 10 отзывов
                                .prod__link
                                    .prod__link-btn.catg__like.btn-like
                                    .prod__link-text В избранное
                                .prod__link
                                    .prod__link-btn.catg__sravn.btn-sravn
                                    .prod__link-text В сравнение
                                .prod__link
                                    .prod__link-btn.catg__share.btn-share
                                    .prod__link-text Поделиться
                            .prod__wrap
                                .prod__top
                                    .prod__image-wrap
                                        .prod__image
                                            img(src="../../images/develop/prod.jpg")
                                        .prod__tmbs
                                            .prod__tmb
                                                .prod__tmb-img
                                                    img(src="../../images/develop/prod.jpg")
                                            .prod__tmb
                                                .prod__tmb-img
                                                    img(src="../../images/develop/prod.jpg")
                                            .prod__tmb
                                                .prod__tmb-img
                                                    img(src="../../images/develop/prod.jpg")
                                            .prod__tmb
                                                .prod__tmb-img
                                                    img(src="../../images/develop/prod.jpg")
                                    .prod__main
                                        .labels
                                            .labels__item.is-new
                                            .labels__item.is-coffe.is-three
                                            .labels__item.is-country
                                                img(src='../../images/develop/country.png')

                                        .prod__main-char
                                            .prod__main-title Основные характеристики:
                                            .prod__main-bl
                                                .prod__main-param Состав
                                                .prod__main-val 100%
                                            .prod__main-bl
                                                .prod__main-param Регион обжарки
                                                .prod__main-val Италия
                                            .prod__main-bl
                                                .prod__main-param Регион происхождения
                                                .prod__main-val Италия
                                            .prod__main-bl
                                                .prod__main-param Степень обжарки
                                                .prod__main-val Срредняя
                                            .prod__main-bl
                                                .prod__main-param Состав
                                                .prod__main-val С кофеином
                                        .prod__main-choose-bl.is-weight
                                            .prod__main-title Вес упаковки:
                                            .prod__fields
                                                .prod__field
                                                    .prod__form-btn-choose.is-active 500 г
                                                .prod__field
                                                    .prod__form-btn-choose 1000 г
                                                .prod__field
                                                    .prod__form-btn-choose 1500 г
                                                .prod__field
                                                        .prod__form-btn-choose 2000 г
                                        .prod__main-choose-bl.is-fri
                                            .prod__main-title Степень обжарки:
                                            .prod__fields
                                                .prod__field
                                                    .prod__form-btn-choose.is-active Малая
                                                .prod__field
                                                    .prod__form-btn-choose Средняя
                                                .prod__field
                                                    .prod__form-btn-choose Сильная


                                    .prod__check-wrap
                                        .prod__check.is-st-shadow
                                            .catg__price-block
                                                .catg__price 2 120 ₽
                                                .catg__price-old 3 120 ₽
                                            .prod__avail-block
                                                .prod__avail В наличии
                                            .prod__deliv
                                                span Бесплатная
                                                |!{' '}доставка при заказе от 5000 ₽
                                            .prod__link-bl Хочу дешевле!
                                            .prod__deliv-info
                                                span Доставка на:
                                                |!{' '}26.12.2020
                                            .prod__btn-wrap
                                                .prod__btn.btn.is-brown-light.is-buy В корзину


                                .prod__bottom
                                    .prod__des-block
                                        .prod__des-btn.js-slide-btn.icon-1h_galka Описание
                                        .prod__des-content.js-slide-content Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации новых предложений.
                                    .prod__des-block
                                        .prod__des-btn.js-slide-btn.icon-1h_galka Отзывы:
                                        .prod__des-content.js-slide-content
                                            .prod__reviews
                                                .prod__reviews-l
                                                    .prod__btn.is-review.btn.is-brown-light Написать отзыв
                                                    .prod__reviews-item
                                                        .prod__reviews-name
                                                            .prod__reviews-name-m Сергей Чураков
                                                            .prod__reviews-date 14.10.2020 18:34
                                                        .catg__stars
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                        .prod__reviews-text Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации новых предложений.
                                                    .prod__reviews-item
                                                        .prod__reviews-name
                                                            .prod__reviews-name-m Сергей Чураков
                                                            .prod__reviews-date 14.10.2020 18:34
                                                        .catg__stars
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                        .prod__reviews-text Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации новых предложений.
                                                    .prod__reviews-item
                                                        .prod__reviews-name
                                                            .prod__reviews-name-m Сергей Чураков
                                                            .prod__reviews-date 14.10.2020 18:34
                                                        .catg__stars
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                        .prod__reviews-text Разнообразный и богатый опыт укрепление и развитие структуры способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт новая модель организационной деятельности способствует подготовки и реализации новых предложений.


                                                .prod__reviews-r
                                                    .prod__reviews-res
                                                        .prod__reviews-mark 5.0
                                                        .catg__stars
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                        .prod__reviews-inf На основании оценок<br>10 покупателей
                                                        .prod__reviews-cnt
                                                            .prod__reviews-cnt-item
                                                                span 5
                                                                .prod__reviews-cnt-points
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                span 100%
                                                            .prod__reviews-cnt-item
                                                                span 4
                                                                .prod__reviews-cnt-points
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point.is-active
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                span 50%
                                                            .prod__reviews-cnt-item
                                                                span 3
                                                                .prod__reviews-cnt-points
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                span 0%
                                                            .prod__reviews-cnt-item
                                                                span 2
                                                                .prod__reviews-cnt-points
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                span 0%
                                                            .prod__reviews-cnt-item
                                                                span 1
                                                                .prod__reviews-cnt-points
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                    .prod__reviews-cnt-point
                                                                span 0%







                include ../includes/footer_2








