/bitrix
/logs
/upload
*.log
*.sql
*.txt
*.xml
*.dt
*.html
*.tar
*.gz
/web.config
/desktop_app
*.tmp
.idea
.sass-cache
*.DS_Store
.htaccess
/local/log
/local/scripts
/partner
/module
user_cache/
urlrewrite.php
