.menu-catalog
    .menu-catalog__list
        .menu-catalog__item
            a.menu-catalog__link.js-link.is-sort-link(href="#")
                span.icon-2l_sort Сортировка
        .menu-catalog__item
            a.menu-catalog__link.js-link.is-filter(href="#")
                span.icon-2k_filter Фильтр


