@import "../utils/assets";
.akcii-page{
  //padding: 0 34px;
}
.akcii{
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -28px;
    width: calc(100% + 28px);
  }
  &__item{
    overflow: hidden;
    width: 48%;
    border-radius: 18px;
    border: 1px solid $grayBorder;
    transition: .3s;
    font-size: 18px;
    cursor: pointer;
    margin-left: 28px;
    margin-bottom: 28px;

    &.is-orange-1{
      &:hover{
        border-color: #e99b07;
      }
    }
  }
  &__item-content{
    background: $grayLight;
    transition: .3s;
    font-size: 18px;
    color: $grayBrown;
    padding: 20px 38px;
    height: 276px;
    position: relative;

  }
  &__item-name{
    font-size: 26px;
    font-weight: 500;
    color: $grafit;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
  }
  &__item-pic {
    position: relative;
    font-family: IstokWeb, sans-serif;
    color: #fff;
    height: 288px;
    overflow: hidden;
    display: block;

    & > img {
      transition: .3s;
      transform-origin: center;
      transform: scale(1);
    }
    .akcii__item-name{
      top: 30px;
      left: 38px;
      position: absolute;
      font-size: 44px;
      line-height: 46px;
      font-weight: 600;
      width: 68%;
      color: #fff;
      margin-top: 0;
    }
    .akcii__item-short{
      font-size: 24px;
      line-height: 30px;
      font-weight: 300;
      bottom: 40px;
      left: 38px;
      position: absolute;
      width: 54%;
      color: #fff;
      margin-bottom: 0;
      height: auto;
    }
  }


    &__item-info-bl{
      display: flex;
      justify-content: space-between;
      line-height: 24px;
    }
  &__item-short{
    margin-bottom: 26px;
    height: 46px;
    overflow-y: hidden;
  }
  &__item-i-value{
    color: $grafit;
  }
  &__link{
    position: absolute;
    padding-right: 18px;
    bottom: 28px;
    &>a{
      transition: .3s;
      border-bottom: 1px dashed transparent;
    }
    &:hover{
      &>a{
        border-bottom-color: $grafit;
      }
    }
    &:before{
      font-size: 6px;
      position: absolute;
      right: 0;
      transform: rotate(-90deg);
      top: 50%;
      margin-top: -3px;
      color: $grafit;
    }
  }
}

@media screen and(min-width: 641px){
  .akcii{
    &__item{
      &:hover{
        .akcii__item-content{
          background: #fff;
        }
        .akcii__item-pic{
          img{
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.akcii-el{
  padding-bottom: 100px;
  &__pic{
    border-radius: 18px;
    overflow: hidden;
  }
  &__text{
    font-size: 22px;
    line-height: 26px;
    margin-top: 30px;
  }
  &__ul{
    list-style: none;
    padding-left: 10px;
    &>li{
      position: relative;
      padding-left: 28px;
      margin-bottom: 14px;
      &:before{
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: 0;
        background: $grayBrown;
        border: 1px solid $grayBrown;
        top: 6px;
      }
    }
    &.is-bege{
      &>li{
        &:before{
          background-color: $bege;
          border-color:$bege;
        }
      }
    }
  }
  .btn{
    display: inline-block;
    padding: 0 30px;
    border-radius: 5px;
    margin-top: 10px;
  }
}
