@import "../utils/assets";
.contacts{
  padding-bottom: 1px;
  &__form-btn-wrap{
    display: flex;
  }
  &__form-btn{
    height: 58px;
    line-height: 58px;
  }
  &__card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__visit{
    @include Shadow();
    border-radius: 10px;
    position: relative;
    border: 1px solid $grayBorder;
    width: 50%;
    height: 376px;
    text-align: center;
    &.is-face{
      margin-right: 30px;
    background: linear-gradient(to right, #ffffff 0 50%, $grafit 50%);
    }
    strong{
      display: block;
      margin-top: 20px;
    }
  }
  &__visit-left{
    position: relative;
    padding-left: 30px;
    width: 50%;
  }
  &__visit-right{
    color: $white;
    padding-left: 30px;
    width: 50%;
  }
  &__visit-logo{
    width: 33%;
    position: relative;
    text-align: center;
    padding-top: 16px;
    margin: auto;
    margin-bottom: 20px;

  }
  &__info{
    display: flex;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
  }
  &__visit-title{
    font-family: IstokWeb, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 32px;
    display: inline-block;
    margin: 0 auto 42px auto;
    position: relative;
    padding-right: 74px;
    &:before{
      position: absolute;
      font-size: 30px;
      right: 0;
    }
  }
  &__form{
    padding: 0 60px;
  }
  &__form-field{
    margin-bottom: 32px;
    position: relative;
    .error{
      color: red;
      position: absolute;
      border-bottom: -10px;
      opacity: 0;
    }
    &.is-error{
      .error{
        opacity: 1;
      }
    }
  }
  &__form-input{
    border: none;
    width: 100%;
    border-bottom: 1px solid $grayBorder;
    height: 32px;
    line-height: 32px;
    &::placeholder{
      font-size: 20px;
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      color: #C4C4C4;
    }

  }

  &__form-btn{
    height: 58px;
    line-height: 58px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    border-radius: 10px;
    flex-grow: 1;
    &:not(:last-child){
      margin-right: 44px;
    }
  }
  &__text{
    margin-top: 42px;
    font-size: 22px;
    margin-bottom: 54px;
  }
  &__soc-block{
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  &__soc-el{
    margin-right: 20px;
    transition: .3s;
    &:before{
      font-size: 40px;
    }
    &:hover{
      &.icon-1s_twit{
        &:before{
          color: #24b6ef;
        }
      }
      &.icon-1t_skype{
        &:before{
          color: #2bbfe9;
        }
      }
      &.icon-1u_mes{
        &:before{
          color: #1287f6;
        }
      }
      &.icon-1v_wats{
        &:before{
          color: #23ca11;
        }
      }
      &.icon-1w_inst{
        &:before{
          color: #c037e0;
        }
      }
      &.icon-1x_vk{
        &:before{
          color: #366ad0;
        }
      }
      &.icon-1y_fb{
        &:before{
          color: #2c65d0;
        }
      }
    }
  }
  &__map{
    width: 100%;
    height: 576px;
    margin-top: 32px;
    margin-bottom: 160px;
  }
}
@media #{$media-640} {
  .contacts{
    padding: 20px 10px;
    .breadcrumbs,.page-block-head{
      padding-left: 10px;
    }
    &__card{
      flex-wrap: wrap;
      width: calc(100% + 20px);
      margin-left: -10px;
    }
    &__visit{
      width: 100%;
      height: 242px;
      &.is-face{
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    &__visit-logo{
      width: 40%;
      margin: auto auto 2px auto
    }
    &__info{
      font-size: 14px;
      line-height: 22px;
    }
    &__visit-left{
      padding-left: 15px;
    }
    &__visit-right{
      padding-left: 15px;
    }
    &__visit-title{
      font-size: 22px;
      margin-bottom: 20px;
      padding-top: 18px;
      padding-right: 34px;
      &:before{
        font-size: 22px;
      }
    }
    &__form-input{
      &::placeholder{
        font-size: 14px;
      }
    }
    &__form-field{
      margin-bottom: 12px;
    }
    &__form{
      padding: 0 20px;
    }
    &__form-btn{
      height: 36px;
      line-height: 36px;
      font-size: 16px;
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
    &__text {
      margin-top: 22px;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 24px;
    }
    &__soc-block{
      margin-top: 20px;
    }
    &__soc-el{
      margin-right: 16px;
      &:before{
        font-size: 32px;
      }
    }
    &__map {
      height: 276px;
      margin-top: 20px;
      margin-bottom: 100px;
    }
  }
}
