@import "../utils/assets";
@import "../blocks/review-form";
.prod{
  &__name{
    &.is-eng{
      font-size: 22px;
      color: #b7b3b2;
      margin-top: 4px;
      @media #{$media-640} {
        font-size: 14px;
      }
    }
  }
  &__head{
    margin-top: 30px;
    margin-bottom: 20px;
    .page-title._type-1{
      margin-bottom: 0;
    }
    @media #{$media-640} {
      margin-top: 20px;
    }
  }
  &__content{
    position: relative;
  }
  &__labels{
      .labels__items{
        line-height: 1;
        z-index: 10;
        &.is-left{
          position: absolute;
          left: 0;
          top: 0;
          text-align: left;
        }
        &.is-right{
          position: absolute;
          right:1px;
          top: 1px;
          text-align: left;
        }
      }
  }
  &__raiting{
    color: $bege;
    display: flex;
    align-items: center;
    margin-right: 45px;
    .catg__stars{
      margin-right: 10px;
    }
    .catg__star{
      &:before{
        font-size: 16px;
      }
    }
    a{
      color: $linkBlue;
      border-bottom: 1px dashed $linkBlue;
      font-size: 18px;
      transition: .3s;
      &:hover{
        text-decoration: none;
        border-bottom-color: transparent;
      }
    }
  }
  &__control{
    display: flex;
    margin-bottom: 26px;
  }
  &__link{
    display: flex;
    align-items: center;
    cursor: pointer;
    &:not(:last-child){
      margin-right: 46px;
    }
    &:hover{
      .prod__link-btn{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        border-color: $grayBorder;
      }
    }
    &.is-active{
      .btn-like{
        &:before{
          content: icon-char(1f_heart_full);
          color: $pink;
          font-size: 20px;
        }
      }
    }
  }
  &__link-text{
    font-size: 18px;
  }
  &__link-btn{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 4px;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: .3s;
    text-align: center;
  }
  &__image-wrap{
    width: 562px;
    max-width: 100%;
    position: relative;
    .slick-dots{
      bottom: 20px;
      height: 20px;
      line-height: 20px;
    }
    .swiper__bullet{
      position: absolute;
      display: flex;
    }
  }
  &__image{
    width: 562px;
    height: 562px;
    max-width: 100%;
    line-height: 562px;
    border: 1px solid $grayBorder;
    border-radius: 10px;
    overflow: hidden;
  }
  &__image-img{
    height: 100%;
    &>a{
      display: block;
      text-align: center;
      height: 100%;
    }
  }
  &__tmbs{
    //display: flex;
    //justify-content: center;
    height: 80px;
    margin-top: 18px;
  }
  &__tmb{
    width: 80px !important;
    height: 80px !important;
    transition: .3s;
    background: $white;
    border: 1px solid $grayBorder;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:not(:last-child){
      margin-right: 6px;
    }
    &:hover,
    &.swiper-slide-thumb-active{
      border-color: $green;
    }
  }
  &__tmb-img{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  &__bottom{
    width: 72%;
  }
  &__des-btn{
    cursor: pointer;
    background: $grayLight;
    border: 1px solid $grayBorder;
    border-radius: 10px;
    font-size: 24px;
    line-height: 32px;
    white-space: nowrap;
    position: relative;
    padding: 14px 32px;
    &:before{
      font-size: 24px;
      position: absolute;
      right: 30px;
      top: 50%;
      margin-top: -12px;
      line-height: 1;
      //animation: smaller .8s;
      transition: .3s;
    }
    &.is-active{
      &:before{
        content: '\E01B';
        transform: rotate(180deg);
        //animation: bigger .8s;
      }
    }
  }
  &__des-content{
    font-size: 18px;
    line-height: 32px;
    padding: 22px 32px;
    p{
      line-height: 32px;
      &:first-child{
        margin-top: 0;
      }
    }
    .main-text__border{
      margin-top: 24px;
    }
    .main-text__ul{
      margin-top: -10px;
    }
  }
  &__des-block{
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__btn-wrap{
    .count-block{
      &__btn{
        width: 50px;
        height: 50px;
        line-height: 50px;
        &:before{
          font-size: 24px;
        }
        &:hover{
          background: #fff;
        }
      }
      &__value{
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin: 0 20px;
        font-size: 24px;
      }
    }
    .count-block{
      @media #{$media-640} {
        justify-content: center;
      }
    }
  }
  &__btn{
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    &.is-buy.js-do{
      @include btnMain();
      @include btnColor('blue-s');
    }
    &.is-review{
      margin-bottom: 38px;
      margin-left: -32px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      width: auto;
    }
  }
  &__reviews{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  &__reviews-l{
    width: 62%;
  }
  &__reviews-r{
    width: 268px;
    min-width: 268px;
    margin-right: -32px;
  }
  &__reviews-res{
    background: $grayLight;
    border: 1px solid $grayBorder;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 26px 24px 26px;
    width: 268px;

    .catg__star{
      &:not(:last-child){
        margin-right: 6px;
      }
      &:before{
        font-size: 26px;
      }
    }
    .prod{
      &__reviews-mark{
        font-family: IstokWeb, sans-serif;
        font-weight: bold;
        font-size: 70px;
        line-height: 101px;
      }
      &__reviews-inf{
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.03em;
        color: #A5A2A1;
        margin-bottom: 16px;
      }
    }
  }
  &__reviews-item{
    font-size: 18px;
    margin-bottom: 38px;
    .catg__stars{
      margin-bottom: 20px;
    }
  }
  &__reviews-name{
    display: flex;
  }
  &__reviews-date{
    color: $grayBorderDark;
    margin-left: 20px;
  }
  &__check-wrap{
    width: 268px;
  }
  &__check{
    width: 268px;
    background: $grayLight;
    border-radius: 8px;
    padding: 34px 14px;
    font-size: 18px;
    .catg__price{
      font-size: 34px;
      line-height: 44px;
    }
    .catg__price-old{
      font-size: 30px;
    }
    @media #{$media-640} {
      &.doFixed{
        position: static !important;
      }
    }
  }
  &__avail-block{
    margin-top: 16px;
  }
  &__top{
    display: flex;
    align-items: flex-start;
    .labels__item{

      &.is-sale{
        font-size: 16px;
        padding: 0 4px;
        height: 28px;
        line-height: 28px;
        display: block;
        position: absolute;
      }
      &.is-new{
        border-radius: 11px 8px 8px 0;
        margin-bottom: 6px;
      }
      &.is-hit{
        border-radius: 11px 0 8px 0;
        display: block;
      }
      &.is-sca{
        padding: 8px 10px;
        font-size: 26px;
        border-radius: 0 12px;
        @media #{$media-640} {
          font-size: 20px;
        }
        &:before{
          font-size: 22px;
        }
      }
      &.is-country{
        background: transparent;
        border-radius: 0 12px 0 0;
        padding: 8px 8px 0;
        .labels__item-wrap{
          width: 30px;
          height: 30px;
          margin-bottom: 4px;
        }
        span{
          font-family: IstokWeb,sans-serif;
          padding-top: 1px;
          font-size: 14px;
          color: $grayBrown;
          font-weight: 500;
          opacity: 0;
        }
      }
      &+.is-new{
        border-radius: 0 8px 8px 0;
        margin-top: 6px;
      }
      &+.is-sale{
        margin-top: 6px;
        border-radius: 0 8px 8px 0;
      }
    }
  }
  &__avail{
    color: $bege;
    margin-bottom: 12px;
    line-height: 24px;
  }
  &__deliv{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
    &>span{
      color: $green;
    }
  }
  &__link-bl{
    color: $linkBlue;
    border-bottom: 1px dashed $linkBlue;
    transition: .3s;
    line-height: 24px;
    margin-bottom: 18px;
    display: inline-block;
    cursor: pointer;
    &:hover{
      border-bottom-color: transparent;
    }
  }
  &__deliv-info{
    margin-bottom: 24px;
    span{
      font-family: Helvetica, sans-serif;
      font-weight: 300;
    }
  }
  &__main{
    width: 540px;
    margin-left: 4%;
  }
  &__main-char{
    padding-right: 40px;
  }
  &__main-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
  }
  &__main-bl{
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    &:after{
      content: '';
      position: absolute;
      height: 10px;
      /* border-bottom: 1px dotted #240c04; */
      bottom: -1px;
      width: 100%;
      z-index: 1;
      background-image: linear-gradient(to right, $grayBrown 30%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 4px 2px;
      background-repeat: repeat-x;
    }
  }
  &__main-param{
    background: $white;
    position: relative;
    z-index: 2;
    padding-right: 10px;
    .is-wrap{
      position: relative;
    }
  }
  &__main-val{
    font-weight: 400;
    background: $white;
    position: relative;
    z-index: 2;
    padding-left: 10px;
    text-align: right;
    display: inline-block;
    .is-wrap{
      position: relative;
    }
    .is-link{
      &:hover{
        text-decoration: none;
        &>span{
          border-bottom-color: transparent;
        }
      }
      &>span{
        color: $linkBlue;
        border-bottom: 1px dashed $linkBlue;
        transition: .3s;
      }
    }
  }
  &__fields{
    display: flex;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    margin-top: -10px;
    flex-wrap: wrap;
  }
  &__field{
    margin-top: 10px;
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  &__form-btn-choose{
    padding: 0 18px;
    white-space: nowrap;
    border: 1px solid $grayBorder;
    @include ShadowLight();
    border-radius: 20px;
    height: 36px;
    line-height: 36px;
    transition: .3s;
    font-size: 18px;
    text-align: center;
    position: relative;
    cursor: pointer;

    &:after{
  /*    content: '';
      background: transparent;
      width: 100%;
      position: absolute;
      height: 4px;
      bottom: 0;
      border-radius: 0 0 4px 4px;
      left: 0;*/
    }
    &:hover{
      //border-color: $bege;
      background: $grayLight;
      @include BorderPen($bege);
      //box-shadow: none;
      //box-shadow: inset 2px 2px 0 $bege, 1px 1px 0 $bege;
    }
    &.is-active{
      //@include gradient('bege');
      border-color: $bege;
      @include BorderPen($bege);
      //box-shadow: none;
      //box-shadow: inset 2px 2px 0 $bege, 1px 1px 0 $bege;
      //color: $white;
    }
  }
  &__main-choose-bl{
    margin-bottom: 22px;
    padding-right: 20px;
    &.is-weight{
      margin-top: 30px;
    }
  }
  &__reviews-cnt-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #A5A2A1;
    span{
      &:nth-child(1){
        padding-right: 10px;
      }
      &:nth-child(3){
        padding-left: 10px;
        width: 56px;
      }
    }
  }
  &__reviews-cnt-points{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
  &__reviews-cnt-point{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E5E5E5;
    &.is-active{
      background: $orange;
    }
  }
  &__reviews-name-m{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 8px;
  }
  &__review-form{
    display: none;
    margin: 0 auto 50px -32px;
  }
  &__btn-more{
    margin: 20px 0 60px 0;
    font-size: 18px;
    text-align: right;
    padding-right: 20px;
    &>span{
      transition: .3s;
      text-decoration: none;
      color: $bege;
      border-bottom: 1px dashed $bege;
      cursor: pointer;
      &:hover{
        border-bottom-color: transparent;
      }
    }
  }
  &__r-answer{
    display: flex;
    padding-left: 50px;
  }
  &__r-man-img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 4px solid transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    align-items: center;
    img{
      border-radius: 50%;
    }
  }
  &__r-pos{
    color: $grayBrown;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    width: 90px;
  }
  &__r-answer-text{
    color: $grayBrown;
    font-size: 16px;
    line-height: 1.4;
    padding: 14px 16px;
    text-align: right;
  }
}
@media screen and (min-width: 641px){
  .prod{
    &__image-wrap{
      &:hover{
        .labels__item{
          &.is-sca{
            &:after{
              opacity: 1;
            }
          }
          &.is-country{
            span{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
@media #{$media-640} {
  .prod {
    padding: 1px 10px 30px 10px;
    .catg__star{
      line-height: 1;
      &:before{
        font-size: 14px;
      }
      &:not(:last-child) {
        margin-right: 2px;
      }
    }
    &__control{
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__raiting{
      margin-right: 0;
      width: 100%;
      &>.link{
        font-size: 14px;
      }
    }
    &__link{
      margin-top: 20px;
      &:not(:last-child){
        margin-right: 18px;
      }
      .catg__like{
        &:before {
          font-size: 16px !important;
        }
      }
      .catg__sravn{
        &:before {
          font-size: 16px !important;;
        }
      }
      .catg__share{
        &:before {
          font-size: 16px !important;
        }
      }
    }
    &__wrap{
      width: calc(100% + 40px);
      margin-left: -20px;
    }
    &__link-text{
      font-size: 12px;
    }
    &__link-btn{
      width: 22px;
      height: 16px;
      line-height: 16px;
    }
    &__image-wrap{
      width: calc(100% - 20px);
      margin: auto;
    }
    &__image{
      //width: 358px;
      width: 100%;
      height: 358px;
      margin: 0 auto 6px auto;
    }
    &__top{
      flex-wrap: wrap;
    }
    &__main{
      order: 2;
      margin: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 16px;
    }
    &__main-char{
      padding-right: 0;
      order: 3;
      width: 100%;
    }
    &__check-wrap{
      width: 100%;
      order: 1;
      margin-top: 26px;
      position: relative;

    }
    &__check{
      width: 100%;
      padding: 10px 16px;
      font-size: 16px;
      border-radius: 0;
      //box-shadow: none;
      border-right: none;
      border-left: 0;

      .catg__price{
        font-size: 20px;
        line-height: 24px;
      }
      .catg__price-old{
        font-size: 18px;
      }
      .catg__price-block{
        margin-bottom: 10px;
      }
    }
    &__avail-block{
      font-size: 14px;
      line-height: 18px;
      text-align: right;
      position: absolute;
      right: 16px;
      top: 10px;
    }
    &__deliv{
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 4px;
    }
    &__link-bl{
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 10px;
    }
    &__deliv-info{
      font-size: 16px;
      margin-bottom: 0;
    }
    &__btn-wrap{
      position: fixed;
      bottom: 56px;
      z-index: 1000;
      width: 100%;
      left: 0;
      background: $grayLight;
      padding: 10px 20px 8px 20px;
      @include Shadow();
    }
    &__btn{
      max-width: 334px;
      font-size: 22px;
      margin: auto;
      &.is-review{
        margin-left: 0;
        font-size: 12px;
        width: 144px;
        height: 36px;
        line-height: 36px;
        margin-bottom: 20px;
      }
    }
    &__main-choose-bl{
      width: 100%;
      margin-bottom: 20px;
      &.is-weight {
        margin-top: 26px;
      }
    }
    &__main-title{
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    &__form-btn-choose{
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      padding: 0 16px;
    }
    &__main-bl{
      font-size: 14px;
    }
    &__bottom{
      width: 100%;
      margin-top: 16px;
    }
    &__des-btn{
      font-size: 18px;
      line-height: 36px;
      border-radius: 0;
      border-right: 0;
      border-left: 0;
      padding: 8px 20px;
      &:before{
        font-size: 20px;
        right: 20px;
      }
    }
    &__des-content{
      font-size: 14px;
      line-height: 1.7;
      padding: 12px 20px;
      p{
        line-height: 1.7;
      }
    }
    &__reviews-r{
      width: 180px;
      min-width: auto;
      height: 45px;
      margin-right: -20px;
      position: absolute;
      right: 0;
    }
    &__reviews-res {
      width: 100%;
      padding: 6px 10px;
      border-radius: 7px 0 0 7px;
      .catg__stars{
        justify-content: flex-end;
      }
      .prod__reviews-mark{
        font-size: 20px;
        line-height: 29px;
        letter-spacing: -0.03em;
        text-align: right;
      }
      .prod__reviews-cnt{
        display: none;
      }
      .prod__reviews-inf{
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.03em;
        position: absolute;
        top: 10px;
      }
    }
    &__reviews-item{
      font-size: 14px;
      line-height: 24px;
    }
    &__reviews-name-m{
      font-size: 16px;
      line-height: 20px;
    }
    &__reviews-l{
      width: 100%;
    }
    &__reviews-name{
      position: relative;
    }
    &__reviews-date{
      position: absolute;
      bottom: -20px;
      left: 80px;
    }
    &__field{
      &:not(:last-child){
        margin-right: 8px;
      }
    }

    &__btn-more {
      margin: 20px 0 30px 0;
      font-size: 14px;
    }
    &__review-form{
      margin-left: -8px;
      margin-bottom: 10px;
    }
  }
}

