doctype html
html(lang="en")
    - var pageTitle = 'Catalog';
    include ../includes/head
    body
        //script(type='text/javascript', src='/js/vendor/plyr.min.js')
        .wrapper
            .content
                include ../includes/header
                .page.inner
                    include ../includes/menu-top
                    .catalog
                        include ../includes//breadcrumbs
                        .page-block-head
                            h1.page-title._type-1 Каталог
                            span.page-title-note 100 товаров
                        section.cloud
                            .cloud__list
                                .cloud__item.is-active
                                    a.cloud__link(href="#") Камерун
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") Сильная обжарка
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") Средня обжарка
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") Молотый
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") до 1000 ₽
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") Дорогой кофе
                                        span.cloud__num 50
                                .cloud__item.is-active
                                    a.cloud__link(href="#") Камерун
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") Сильная обжарка
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") Средня обжарка
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") Молотый
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") до 1000 ₽
                                        span.cloud__num 50
                                .cloud__item
                                    a.cloud__link(href="#") Дорогой кофе
                                        span.cloud__num 50
                        .sidebar
                            .filter
                                .filter__info
                                    .filter__control-block
                                        .filter__info-title Выбранные фильтры
                                        .filter__info-btn Cбросить все
                                    .filter__info-params
                                        .filter__info-params-name Страна происхождения:
                                        .filter__info-params-value
                                            span Бразилия
                                            .filter__remove.icon-1o_krest
                                        .filter__info-params-value
                                            span Эквадор
                                                .filter__remove.icon-1o_krest
                                    .filter__info-params
                                        .filter__info-params-name Регион обжарки:
                                        .filter__info-params-value
                                            span Бразилия
                                            .filter__remove.icon-1o_krest
                                        .filter__info-params-value
                                form.filter__choose
                                    .filter__choose-block
                                        .filter__control-block
                                            .filter__info-title Страна происхождения
                                            .filter__info-btn Cбросить
                                        .filter__fields
                                            - for (var i=0; i<5; i++)
                                                .filter__field
                                                    label.filter__label
                                                        input(type='checkbox' name="type" value="Арабика").filter__checkbox.main-checkbox__checkbox
                                                        span.main-checkbox__span.filter__span Австрия
                                                        span.filter__cnt 20
                                    .filter__choose-block
                                        .filter__control-block
                                            .filter__info-title Регион обжарки
                                            .filter__info-btn Cбросить
                                        .filter__fields
                                            - for (var i=0; i<5; i++)
                                            .filter__field
                                                label.filter__label
                                                    input(type='checkbox' name="type" value="Арабика").filter__checkbox.main-checkbox__checkbox
                                                    span.main-checkbox__span.filter__span Австрия
                                                    span.filter__cnt 20
                                    .filter__btn-wrap
                                        button.filter__btn.btn.is-white Подобрать




                        .main-content
                            .catg__list-control
                                .catg__list-control-bl.is-sort
                                    .catg__list-control-name Сортировать по:
                                    .catg__list-control-value Популярности
                                    .catg__list-control-value Рейтингу
                                    .catg__list-control-value.icon-1r_arrow.is-max.is-active Цене
                                    .catg__list-control-value.icon-1r_arrow.is-min.is-active Скидке
                                    .catg__list-control-value Обновлению
                                .catg__list-control-bl.is-cnt
                                    .catg__list-control-name Показано:
                                    .catg__list-control-value.not-change 30-60 из 120 шт

                            .catg__list
                                .catg__item.is-brown
                                    .catg__img
                                        img(src='../../images/develop/cat.png')
                                        .catg__lable.is-sale 50%
                                    .catg__content
                                        .catg__price-block
                                            .catg__price 2120 ₽
                                            .catg__price-old 3120 ₽
                                        .catg__avail-block
                                            .catg__avail В наличии
                                            .catg__raiting
                                                .catg__stars
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                span.catg__raiting-cnt 5.0
                                        a.catg__name(href='#') Кофе в зернах арабика
                                        .catg__short Вишня, кокос, манго, кофе
                                        .catg__select-block
                                            .cst-select-list.js-sort-list
                                                span.cst-select-current.icon-1h_galka 300 г
                                                .cst-select(name='gr')
                                                    .cst-select-option(value='300') 300 г
                                                    .cst-select-option(value='1000') 1000 г
                                                    .cst-select-option(value='1500') 1500 г
                                            .cst-select-list.js-sort-list
                                                span.cst-select-current.icon-1h_galka Малая обжарка
                                                .cst-select.js-sort-list(name='ob')
                                                    .cst-select-option(value='Малая') Малая обжарка
                                                    .cst-select-option(value='Средняя') Средняя обжарка
                                                    .cst-select-option(value='Сильная') Сильная обжарка
                                        .catg__control
                                            .catg__sravn.btn-sravn
                                            .catg__like.btn-like
                                            .catg__btn.btn.is-brown-light
                                                span В корзину
                                .catg__item.is-bege
                                    .catg__img
                                        img(src='../../images/develop/cat.png')
                                        .catg__lable.is-sale 50%
                                    .catg__content
                                        .catg__price-block
                                            .catg__price 2120 ₽
                                            .catg__price-old 3120 ₽
                                        .catg__avail-block
                                            .catg__avail В наличии
                                            .catg__raiting
                                                .catg__stars
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                span.catg__raiting-cnt 5.0
                                        a.catg__name(href='#') Кофе в зернах арабика
                                        .catg__short Вишня, кокос, манго, кофе
                                        .catg__select-block
                                            .cst-select-list.js-sort-list
                                                span.cst-select-current.icon-1h_galka 300 г
                                                .cst-select(name='gr')
                                                    .cst-select-option(value='300') 300 г
                                                    .cst-select-option(value='1000') 1000 г
                                                    .cst-select-option(value='1500') 1500 г
                                            .cst-select-list.js-sort-list
                                                span.cst-select-current.icon-1h_galka Малая обжарка
                                                .cst-select.js-sort-list(name='ob')
                                                    .cst-select-option(value='Малая') Малая обжарка
                                                    .cst-select-option(value='Средняя') Средняя обжарка
                                                    .cst-select-option(value='Сильная') Сильная обжарка
                                        .catg__control
                                            .catg__sravn.btn-sravn
                                            .catg__like.btn-like
                                            .catg__btn.btn.is-brown-light
                                                span В корзину
                                .catg__item.is-blue
                                    .catg__img
                                        img(src='../../images/develop/cat.png')
                                        .catg__lable.is-sale 50%
                                    .catg__content
                                        .catg__price-block
                                            .catg__price 2120 ₽
                                            .catg__price-old 3120 ₽
                                        .catg__avail-block
                                            .catg__avail В наличии
                                            .catg__raiting
                                                .catg__stars
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                span.catg__raiting-cnt 5.0
                                        a.catg__name(href='#') Кофе в зернах арабика
                                        .catg__short Вишня, кокос, манго, кофе
                                        .catg__select-block
                                            .cst-select-list.js-sort-list
                                                span.cst-select-current.icon-1h_galka 300 г
                                                .cst-select(name='gr')
                                                    .cst-select-option(value='300') 300 г
                                                    .cst-select-option(value='1000') 1000 г
                                                    .cst-select-option(value='1500') 1500 г
                                            .cst-select-list.js-sort-list
                                                span.cst-select-current.icon-1h_galka Малая обжарка
                                                .cst-select.js-sort-list(name='ob')
                                                    .cst-select-option(value='Малая') Малая обжарка
                                                    .cst-select-option(value='Средняя') Средняя обжарка
                                                    .cst-select-option(value='Сильная') Сильная обжарка
                                        .catg__control
                                            .catg__sravn.btn-sravn
                                            .catg__like.btn-like
                                            .catg__btn.btn.is-brown-light
                                                span В корзину
                                - for (var i=0; i<17; i++)
                                    .catg__item
                                        .catg__img
                                            img(src='../../images/develop/cat.png')
                                            .catg__lable.is-sale 50%
                                        .catg__content
                                            .catg__price-block
                                                .catg__price 2120 ₽
                                                .catg__price-old 3120 ₽
                                            .catg__avail-block
                                                .catg__avail В наличии
                                                .catg__raiting
                                                    .catg__stars
                                                        .catg__star.icon-1b_star_full
                                                        .catg__star.icon-1b_star_full
                                                        .catg__star.icon-1b_star_full
                                                        .catg__star.icon-1b_star_full
                                                        .catg__star.icon-1b_star_full
                                                    span.catg__raiting-cnt 5.0
                                            a.catg__name(href='#') Кофе в зернах арабика
                                            .catg__short Вишня, кокос, манго, кофе
                                            .catg__select-block
                                                .cst-select-list.js-sort-list
                                                    span.cst-select-current.icon-1h_galka 300 г
                                                    .cst-select(name='gr')
                                                        .cst-select-option(value='300') 300 г
                                                        .cst-select-option(value='1000') 1000 г
                                                        .cst-select-option(value='1500') 1500 г
                                                .cst-select-list.js-sort-list
                                                    span.cst-select-current.icon-1h_galka Малая обжарка
                                                    .cst-select.js-sort-list(name='ob')
                                                        .cst-select-option(value='Малая') Малая обжарка
                                                        .cst-select-option(value='Средняя') Средняя обжарка
                                                        .cst-select-option(value='Сильная') Сильная обжарка
                                            .catg__control
                                                .catg__sravn.btn-sravn
                                                .catg__like.btn-like
                                                .catg__btn.btn.is-brown-light
                                                    span В корзину
                            include ../includes/pagination
                            section.your-interests
                                .page-block-head
                                    h2.page-title._type-2 Подбор по Вашим интересам
                                    a.page-title-link(href="../../html/pages/catalog.html") Смотреть все
                                .catg__list
                                    - for (var i=0; i<5; i++)
                                        .catg__item
                                            .catg__img
                                                img(src='../../images/develop/cat.png')
                                                .catg__lable.is-sale 50%
                                            .catg__content
                                                .catg__price-block
                                                    .catg__price 2120 ₽
                                                    .catg__price-old 3120 ₽
                                                .catg__avail-block
                                                    .catg__avail В наличии
                                                    .catg__raiting
                                                        .catg__stars
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                        span.catg__raiting-cnt 5.0
                                                a.catg__name Кофе в зернах арабика
                                                .catg__short Вишня, кокос, манго, кофе
                                                .catg__select-block
                                                    .cst-select-list.js-sort-list
                                                        span.cst-select-current.icon-1h_galka 300 г
                                                        .cst-select(name='gr')
                                                            .cst-select-option(value='300') 300 г
                                                            .cst-select-option(value='1000') 1000 г
                                                            .cst-select-option(value='1500') 1500 г
                                                    .cst-select-list.js-sort-list
                                                        span.cst-select-current.icon-1h_galka Малая обжарка
                                                        .cst-select.js-sort-list(name='ob')
                                                            .cst-select-option(value='Малая') Малая обжарка
                                                            .cst-select-option(value='Средняя') Средняя обжарка
                                                            .cst-select-option(value='Сильная') Сильная обжарка
                                                .catg__control
                                                    .catg__sravn.btn-sravn
                                                    .catg__like.btn-like
                                                    .catg__btn.btn.is-brown-light
                                                        span В корзину
                            section.your-tags
                                section.cloud
                                    .cloud__list
                                        .cloud__item
                                            a.cloud__link(href="#") Камерун
                                                span.cloud__num 50
                                        .cloud__item
                                            a.cloud__link(href="#") Сильная обжарка
                                                span.cloud__num 50
                                        .cloud__item
                                            a.cloud__link(href="#") Средня обжарка
                                                span.cloud__num 50
                                        .cloud__item
                                            a.cloud__link(href="#") Молотый
                                                span.cloud__num 50
                                        .cloud__item
                                            a.cloud__link(href="#") до 1000 ₽
                                                span.cloud__num 50
                                        .cloud__item
                                            a.cloud__link(href="#") Дорогой кофе
                                                span.cloud__num 50
                                        .cloud__item
                                            a.cloud__link(href="#") Камерун
                                                span.cloud__num 50

                            section.your-viewed
                                .page-block-head
                                    h2.page-title._type-2 Вы недавно смотрели
                                    a.page-title-link(href="../../html/pages/catalog.html") Смотреть все
                                .catg__list
                                    - for (var i=0; i<5; i++)
                                        .catg__item
                                            .catg__img
                                                img(src='../../images/develop/cat.png')
                                                .catg__lable.is-sale 50%
                                            .catg__content
                                                .catg__price-block
                                                    .catg__price 2120 ₽
                                                    .catg__price-old 3120 ₽
                                                .catg__avail-block
                                                    .catg__avail В наличии
                                                    .catg__raiting
                                                        .catg__stars
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                            .catg__star.icon-1b_star_full
                                                        span.catg__raiting-cnt 5.0
                                                a.catg__name Кофе в зернах арабика
                                                .catg__short Вишня, кокос, манго, кофе
                                                .catg__select-block
                                                    .cst-select-list.js-sort-list
                                                        span.cst-select-current.icon-1h_galka 300 г
                                                        .cst-select(name='gr')
                                                            .cst-select-option(value='300') 300 г
                                                            .cst-select-option(value='1000') 1000 г
                                                            .cst-select-option(value='1500') 1500 г
                                                    .cst-select-list.js-sort-list
                                                        span.cst-select-current.icon-1h_galka Малая обжарка
                                                        .cst-select.js-sort-list(name='ob')
                                                            .cst-select-option(value='Малая') Малая обжарка
                                                            .cst-select-option(value='Средняя') Средняя обжарка
                                                            .cst-select-option(value='Сильная') Сильная обжарка
                                                .catg__control
                                                    .catg__sravn.btn-sravn
                                                    .catg__like.btn-like
                                                    .catg__btn.btn.is-brown-light
                                                        span В корзину

                                .page-text
                                    <p>В интернет-магазине кофе ХочуКофе, Вы можете найти любой кофе...
                                    | Таким образом новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий требуют от нас анализа дальнейших направлений развития. Повседневная практика показывает, что укрепление
                                    | и развитие структуры представляет собой интересный эксперимент проверки модели развития.
                                    | </p>
                                    <p>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.</p>
                                    <p>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.
                                    </p>
                                    <p>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.
                                    </p>
                include ../includes/footer_2








