doctype html
html(lang="en")
    - var pageTitle = 'Index';
    include ../includes/head
    body
        //script(type='text/javascript', src='/js/vendor/plyr.min.js')
        .wrapper
            .content
                include ../includes/header
                .page.inner
                    include ../includes/menu-top
                    section.banner
                        .banner__list
                            .banner__item
                                a.banner__link
                                    img.banner__img(src='../../images/develop/banner_1.png')
                            .banner__item
                                a.banner__link
                                    img.banner__img(src='../../images/develop/banner_1.png')
                            .banner__item
                                a.banner__link
                                    img.banner__img(src='../../images/develop/banner_1.png')
                            .banner__item
                                a.banner__link
                                    img.banner__img(src='../../images/develop/banner_1.png')
                    section.sections
                        .sections__list
                            - for (var i=0; i<8; i++)
                                .sections__item
                                    a.sections__link
                                        .sections__content
                                            .sections__title Арабика
                                            p - богатый вкус с яркой кислотностью и приятными нотками<br> - зерна овальной формы и как правило более круглые
                                        img.sections__img(src='../../images/develop/sect_1.png')
                    section.utp
                        .utp__list
                            .utp__item
                                .utp__text Выбор любой степени помола и обжарки
                                img.utp__img(src='../../images/develop/utp_1.png')
                            .utp__item
                                .utp__text
                                img.utp__img(src='../../images/develop/utp_2.png')
                            .utp__item
                                .utp__text Только кофе высокого качества
                                img.utp__img(src='../../images/develop/utp_3.png')
                            .utp__item
                                .utp__text Только кофе высокого качества
                                img.utp__img(src='../../images/develop/utp_2.png')
                            .utp__item
                                .utp__text Только кофе высокого качества
                                img.utp__img(src='../../images/develop/utp_4.png')
                            .utp__item
                                .utp__text Только кофе высокого качества
                                img.utp__img(src='../../images/develop/utp_2.png')
                    section.hits
                        .page-block-head
                            h2.page-title._type-2 Хиты продаж
                            a.page-title-link(href="../../html/pages/catalog.html") Смотреть все
                        .catg__list
                            - for (var i=0; i<5; i++)
                                .catg__item
                                    .catg__img
                                        img(src='../../images/develop/cat.png')
                                        .catg__lable.is-sale 50%
                                    .catg__content
                                        .catg__price-block
                                            .catg__price 2120 ₽
                                            .catg__price-old 3120 ₽
                                        .catg__avail-block
                                            .catg__avail В наличии
                                            .catg__raiting
                                                .catg__stars
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                span.catg__raiting-cnt 5.0
                                        a.catg__name Кофе в зернах арабика
                                        .catg__short Вишня, кокос, манго, кофе
                                        .catg__select-block
                                                .cst-select-list.js-sort-list
                                                    span.cst-select-current.icon-1h_galka 300 г
                                                    .cst-select(name='gr')
                                                        .cst-select-option(value='300') 300 г
                                                        .cst-select-option(value='1000') 1000 г
                                                        .cst-select-option(value='1500') 1500 г
                                                .cst-select-list.js-sort-list
                                                    span.cst-select-current.icon-1h_galka Малая обжарка
                                                    .cst-select.js-sort-list(name='ob')
                                                        .cst-select-option(value='Малая') Малая обжарка
                                                        .cst-select-option(value='Средняя') Средняя обжарка
                                                        .cst-select-option(value='Сильная') Сильная обжарка
                                        .catg__control
                                            .catg__sravn.btn-sravn
                                            .catg__like.btn-like
                                            .catg__btn.btn.is-brown-light
                                                span В корзину
                    section.pomol
                        .page-block-head
                            h2.page-title._type-2 Не знаете какой помол выбрать?
                        .pomol__image
                            img(src='../../images/develop/pomol.png')
                        .pomol__note * В нашем Магазине при заказе зерного кофе Вы можете выбрать любой помол, а Также степень обжарки !!!
                    section.sale
                        .page-block-head
                            h2.page-title._type-2 Успейте купить кофе со скидкой
                            a.page-title-link Смотреть все
                        .catg__list
                            - for (var i=0; i<5; i++)
                                .catg__item
                                    .catg__img
                                        img(src='../../images/develop/cat.png')
                                        .catg__lable.is-sale 50%
                                    .catg__content
                                        .catg__price-block
                                            .catg__price 2120 ₽
                                            .catg__price-old 3120 ₽
                                        .catg__avail-block
                                            .catg__avail В наличии
                                            .catg__raiting
                                                .catg__stars
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                    .catg__star.icon-1b_star_full
                                                span.catg__raiting-cnt 5.0
                                        a.catg__name(href='#') Кофе в зернах арабика
                                        .catg__short Вишня, кокос, манго, кофе
                                        .catg__select-block
                                            .cst-select-list.js-sort-list
                                                span.cst-select-current.icon-1h_galka 300 г
                                                .cst-select(name='gr')
                                                    .cst-select-option(value='300') 300 г
                                                    .cst-select-option(value='1000') 1000 г
                                                    .cst-select-option(value='1500') 1500 г
                                            .cst-select-list.js-sort-list
                                                span.cst-select-current.icon-1h_galka Малая обжарка
                                                .cst-select.js-sort-list(name='ob')
                                                    .cst-select-option(value='Малая') Малая обжарка
                                                    .cst-select-option(value='Средняя') Средняя обжарка
                                                    .cst-select-option(value='Сильная') Сильная обжарка
                                        .catg__control
                                            .catg__sravn.btn-sravn
                                            .catg__like.btn-like
                                            .catg__btn.btn.is-brown-light
                                                span В корзину
                    section.map
                        .page-block-head
                            h2.page-title._type-2 Выбрать кофе по стране
                        .map__content
                            .map__left
                            .map__right
                                .map__country-list
                                    a.map__country-link(data-country_id="BR")
                                        .map__country-top
                                            span Бразилия
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                        p.map__country-info Характеристика бразильского кофе На протяжении последних 150 лет Бразилия остается крупнейшим в мире экспортером кофе. На долю бразильского кофе приходится порядка 33% мирового рынка. Плантации, общей площадью 27 000 км², преимущественно расположены в юго-восточных штатах Минас-Жерайс, Сан Пауло, Парана
                                    a.map__country-link(data-country_id="VN")
                                        .map__country-top
                                            span Вьетнам
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                        p.map__country-info Характеристика бразильского кофе На протяжении последних 150 лет Бразилия остается крупнейшим в мире экспортером кофе. На долю бразильского кофе приходится порядка 33% мирового рынка. Плантации, общей площадью 27 000 км², преимущественно расположены в юго-восточных штатах Минас-Жерайс, Сан Пауло, Парана
                                    a.map__country-link(data-country_id="CO")
                                        .map__country-top
                                            span Колумбия
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                        p.map__country-info Характеристика бразильского кофе На протяжении последних 150 лет Бразилия остается крупнейшим в мире экспортером кофе. На долю бразильского кофе приходится порядка 33% мирового рынка. Плантации, общей площадью 27 000 км², преимущественно расположены в юго-восточных штатах Минас-Жерайс, Сан Пауло, Парана
                                    a.map__country-link(data-country_id="ID")
                                        .map__country-top
                                            span Индонезия
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                        p.map__country-info Характеристика бразильского кофе На протяжении последних 150 лет Бразилия остается крупнейшим в мире экспортером кофе. На долю бразильского кофе приходится порядка 33% мирового рынка. Плантации, общей площадью 27 000 км², преимущественно расположены в юго-восточных штатах Минас-Жерайс, Сан Пауло, Парана
                                    a.map__country-link(data-country_id="HN")
                                        .map__country-top
                                            span Гоундурас
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="ET")
                                        .map__country-top
                                            span Эфиопия
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="IN")
                                        .map__country-top
                                            span Индия
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="UG")
                                        .map__country-top
                                            span Уганда
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="MX")
                                        .map__country-top
                                            span Мексика
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="PE")
                                        .map__country-top
                                            span Перу
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="NI")
                                        .map__country-top
                                            span Никарагуа
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="MY")
                                        .map__country-top
                                            span Малайзия
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="CN")
                                        .map__country-top
                                            span Китай
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="СК")
                                        .map__country-top
                                            span Коста-Рика
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")
                                    a.map__country-link(data-country_id="TZ")
                                        .map__country-top
                                            span Танзания
                                            .map__flag
                                                img(src="../../images/develop/f_braz.svg")









                    section.form.is-opened
                        .form__head
                            .form__title.page-block-head
                                h2.page-title._type-2.icon-1h_galka Быстро найти любимый кофе
                            .form__note Ответьте на несколько вопросов о том, какой кофе Вы ищете и мы покажем страницу, где оно представлено
                        .form__content
                            form.index-form
                                .index-form__fields
                                    .index-form__quest Какой кофе предпочитаете?
                                    .index-form__field-group
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Арабика
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Робуста
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Либерика
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Купажи
                                            .index-form__note смешанные сорта чтобы почувствовать новые вкусы
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ароматизированный
                                    .index-form__quest Как планируете готовить кофе?
                                    .index-form__field-group
                                        .index-form__field
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span В кофе-машине
                                        .index-form__field
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span В турке
                                        .index-form__field
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span В гейзерной кофеварке
                                        .index-form__field
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span Купажи
                                            .index-form__note смешанные сорта чтобы почувствовать новые вкусы
                                        .index-form__field
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span Ароматизированный
                                        .index-form__field
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span В кофе-машине
                                        .index-form__field
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span В турке
                                        .index-form__field
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span В гейзерной кофеварке
                                        .index-form__field
                                            .index-form__note смешанные сорта чтобы почувствовать новые вкусы
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span Купажи
                                        .index-form__field
                                            label.index-form__label
                                                input(type='radio' name="type" value="Арабика").index-form__radio.main-checkbox__checkbox
                                                span.main-checkbox__span.is-radio.index-form__span Ароматизированный
                                    .index-form__quest Еще какой то вопрос?
                                    .index-form__field-group
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                            .index-form__note смешанные сорта чтобы почувствовать новые вкусы
                                    .index-form__quest Еще какой то вопрос?
                                    .index-form__field-group
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                            .index-form__note смешанные сорта чтобы почувствовать новые вкусы
                                    .index-form__quest Еще какой то вопрос?
                                    .index-form__field-group
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                        .index-form__field
                                            label.index-form__label
                                                input(type='checkbox' name="type" value="Арабика").index-form__checkbox.main-checkbox__checkbox
                                                span.main-checkbox__span.index-form__span Ответ
                                            .index-form__note смешанные сорта чтобы почувствовать новые вкусы
                                    .index-form__btn-wrap
                                        .index-form__btn.btn.is-white Посмотреть подборку
                    section.reviews
                        .page-block-head
                            h2.page-title._type-2 Выбор покупателей
                            a.page-title-link Читать все отзывы
                        .reviews__list
                            - for (var i=0; i<4; i++)
                                .reviews__item
                                    .reviews__top
                                        .reviews__image
                                            a(href="#")
                                                img(src='../../images/develop/cat.png')
                                        .reviews__right
                                            a.reviews__product(href="#") Кофе Арабика Кофеус в зернах
                                            .reviews__stat Отзывов
                                                span  10
                                                |  шт
                                            .reviews__stat Оценка
                                                span  5.0
                                    .reviews__bottom
                                        .catg__stars
                                            .catg__star.icon-1b_star_full
                                            .catg__star.icon-1b_star_full
                                            .catg__star.icon-1b_star_full
                                            .catg__star.icon-1b_star_full
                                            .catg__star.icon-1b_star_full
                                        .reviews__name Ольга Викторовна
                                        .reviews__text Блин!!! Офигенный! И где он только раньше был! Пью уже 101 кружку и не могу никак оторваться.....
                                        .reviews__link-wrap
                                            a.reviews__link(href="#") Читать весь отзыв
                    section.view
                        .page-block-head
                            h2.page-title._type-2 Обзоры новинок
                            a.page-title-link Читать все обзоры
                        .view__list
                            - for (var i=0; i<4; i++)
                                .view__item
                                    .view__content
                                        .view__left
                                            .view__image
                                                a(href="#")
                                                    img(src='../../images/develop/view.png')
                                        .view__right
                                            a.view__title(href="#") Обзор Итальянского кофи пино Гридже
                                            .view__main-desc
                                                .view__desc-name Страна происхождения:
                                                .view__desc-value Перу
                                            .view__main-desc
                                                .view__desc-name Вкусовые качества:
                                                .view__desc-value Вишня, манго, лимон
                                            .view__main-desc
                                                .view__desc-name Степень обжарки:
                                                .view__desc-value Любая
                                            .view__main-desc
                                                .view__desc-name Цена:
                                                .view__desc-value 1000 Р за 1000 г
                                            .view__describe
                                                .view__sect Описание
                                                .view__text Супер-новинка из Перу!<br>
                                                    |Настоящие перуанцы своими перуанскими пальцами собирали этот кофе в условиях жуткой непогоды, рискуя своими жизнями во время того как вулкан выбрасывал свою лаву.
                                                    |Носили мешки в амбар, натирая мозоли на ногах
                                            .view__describe
                                                .view__sect Основные отличия
                                                .view__text Супер-новинка из Перу!
                                                        |Настоящие перуанцы своими перуанскими пальцами собирали этот кофе в условиях жуткой непогоды, рискуя своими жизнями во время того как вулкан выбрасывал свою лаву.  Носили мешки в амбар, натирая мозоли на ногах
                                            .view__control-links
                                                .view__control-link.is-view
                                                    a(href="#") Читать весь обзор
                                                .view__control-link.is-good
                                                    a(href="#") Перейти к товару
                    section.subscribe
                        .subscribe__title.icon-1k_aeroplan
                            span Будьте в курсе всех акций<br>и интересных предложений
                        form.subscribe__form
                            .subscribe__fields
                                .subscribe__field
                                    input(type='text' name="email" placeholder='Ваш Email').subscribe__input
                                .subscribe__btn-wrap
                                    buttton.subscribe__btn.btn.is-white Подписаться
                    .page-text
                        <p>В интернет-магазине кофе ХочуКофе, Вы можете найти любой кофе...
                        | Таким образом новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий требуют от нас анализа дальнейших направлений развития. Повседневная практика показывает, что укрепление
                        | и развитие структуры представляет собой интересный эксперимент проверки модели развития.
                        | </p>
                        <p>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.</p>
                        <p>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.
                        </p>
                        <p>Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития.
                        </p>
                    .index-banner-bottom
                        .page-block-head
                            h2.page-title._type-2 Или все-таки чай? :)
                        .index-banner-bottom__img
                            a(href="")
                                img(src="../../images/develop/banner_bot.png")
                include ../includes/footer_1








