@import "main-menu";
@import "pers-info";
@import "search";
@import "menu-top";
.header {
  background: $white;
  width: 100%;
  //min-width: 1500px;
  max-width: 1920px;
  margin: auto;
  //border-radius: 0 0 50px 50px;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    padding-left: 30px;
  }
  &__phone{
    align-self: center;
    &:before{
      display: none;
      font-size: 24px;
      //color: $begeSuperLight;
      box-shadow: 1px 1px 7px #e9c498;
    }
  }
  &__phone-content{
    display: flex;
    align-items: center;
    padding-left: 70px;
    //color: $white;
  }

  &__phone-link{
    //color: $white;
    font-weight: bold;
    font-size: 20px;
    &:hover{
      text-decoration: none;
    }
  }
  &__right{
    padding-right: 30px;
  }
  &__block-l{
    display: flex;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__callback{
    padding: 10px 22px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid $brownDeep;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
    cursor: pointer;
    transition: .3s;
    &:hover{
      background: rgba(255, 255, 255, 0.4);
    }
  }
}

@media #{$media-640} {
  .header{
    max-width: 100%;
    min-width: 376px;
    height: 124px;
    border-radius: 0 0 10px 10px;
    &__left{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &__right{
      padding-right: 0;
    }

    &__block-l{
      padding: 6px 0;
      justify-content: space-between;
      flex-grow: 1;
      max-width: calc(50% + 69px);
      width: calc(50% + 69px);
    }
    &__logo{
      width: 138px;
      padding: 0;
    }
    &__content{
      flex-wrap: wrap;
    }
    &__phone{
      padding-right: 40px;
      &:before{
        display: block;
      }
    }
    &__phone-content{
      position: absolute;
      display: none;
    }
    &__content{
      display: block;
    }
  }
}
