.pagination{
  margin: 36px 0;
  &__list{
    display: flex;
  }
  &__item{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin: 0 10px;
    &.is-no-active{
      opacity: 0.3;
      cursor: not-allowed;
    }
    &>a{
      display: inline-block;
      &:hover{
        text-decoration: none;
      }
    }
    &.is-active,
    &:hover{
      background: $bege;
      color: #ffffff;
    }

    &.is-back{
      border-radius: 0;
      padding-left: 38px;
      width: auto;
      margin-left: 0;
      margin-right: 18px;
      &:before{
        position: absolute;
        left: 0;
        transform: rotate(180deg);
      }
    }
    &.is-forward{
      border-radius: 0;
      padding-right: 38px;
      width: auto;
      margin-right: 0;
      margin-left: 18px;
      &:before{
        position: absolute;
        right: 0;
      }
    }
    &.is-back,
    &.is-forward{
      &:before{
        @extend .icon-1r_arrow;
        display: inline-block;
        font-size: 10px;
      }
      &:hover{
        text-decoration: none;
        color: $bege;
        background: transparent;
      }
    }
  }
}

@media #{$media-640} {
  .pagination{
    font-size: 10px;
    margin-top: 20px;
    &__list{
      font-weight: 400;
    }
    &__item{
      height: 22px;
      line-height: 22px;
      &.is-back{
        &>a{
          text-align: left;
        }
      }
      &.is-forward{
        &>a{
          text-align: right;
        }
      }
      &>span{
        width: 22px;
        height: 22px;
        margin-left: -11px;
      }
    }
  }
}
