.search-hint{
  &__wrap{
    position: absolute;
    background: $white;
    @include Shadow();
    border-radius: 30px;
    top: 56px;
    width: 100%;
    padding: 20px 24px;
    z-index: 1000;
  }
  &__list{
    list-style: none;
    display: flex;
    padding-left: 20px;
    margin-top: 10px;
  }
  &__l-item{
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    border: 1px solid $grayBorder;
    background: $white;
    border-radius: 18px;
    padding: 0 10px;
    margin-right: 6px;
    &>a{
      display: block;
    }
    &:hover{
      border-color: $blue;
      background: $grayLight;
      &>a{
        text-decoration: none;
      }
    }
  }
  &__prods{
    max-height: 338px;
    overflow-y: auto;
    &::-webkit-scrollbar { width: 4px; height: 4px;}
    &::-webkit-scrollbar-button {  background-color: $bege; }
    &::-webkit-scrollbar-track {  background-color: $bege;}
    &::-webkit-scrollbar-track-piece { background-color: #F1F1F1;}
    &::-webkit-scrollbar-thumb { height: 16px; background-color: $bege; border-radius: 2px;}
    &::-webkit-scrollbar-corner { background-color: #999;}
    &::-webkit-resizer { background-color: #666;}
  }
  &__prods-item{
    display: flex;
    align-items: center;
    padding: 4px 10px;
    position: relative;
    &:not(:last-child){
      border-bottom: 1px dashed $grayBorder;
    }
    &:hover{
      text-decoration: none;
    }
    .catg__labels .labels__item{
      &.is-sale{
        font-size: 12px;
        right: 0;
        top: calc(100% - 20px);
        padding: 0 2px;
        height: 18px;
        line-height: 18px;
      }
      &.is-new{
        font-size: 12px;
        height: 20px;
        line-height: 20px;
      }
      &.is-hit{
        font-size: 0;
        height: 20px;
        line-height: 20px;
        &:before{
          content: 'Хит';
          font-size: 12px;
        }
      }
    }
  }
  &__prods-img{
    width: 100px;
    margin-right: 10px;
    display: block;
    position: relative;
  }
  &__title{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  &__main-btn{
    text-align: center;
    margin-top: 16px;
    .btn{
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      border-radius: 16px;
      display: inline-block;
      padding: 0 20px;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__price{
    font-size: 16px;
    s{
      padding-left: 2px;
      font-size: 14px;
      position: relative;
      top: -10px;
      color: $grayBrown;
      white-space: nowrap;
    }
  }
  &__buy-info{
    position: absolute;
    right: 0;
    width: 110px;
  }
  &__name{
    font-size: 16px;
    padding-right: 130px;
  }
}
