.sections{
  &__list{
    border-bottom: 1px solid $grayBorder;
    display: flex;
  }
  &__item{
    position: relative;
    width: 30%;
    height: 440px;
    background: $grayLight;
    border-right: 1px solid $grayBorder;
    padding: 50px 36px;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: .3s;
    &:hover{
      @include Shadow();
      z-index: 1;
      left: 6px;
      top: -6px;
    }
  }
  &__link{
    &:hover{
      text-decoration: none;
    }
  }
  &__img{
    margin: auto;
  }
  &__title{
    font-family: "Istok Web",sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__content{
    p{
      font-size: 16px;
      color: $grayBrown;
    }
  }
  .slick-arrow.slick-next{
    right: 20px;
  }
  .slick-arrow.slick-prev{
    left: 20px;
  }
}

@media #{$media-640}{
  .sections{
    &__item{
      padding: 20px 12px;
      height: 134px;
    }
    &__title{
      font-size: 16px;
      margin-bottom: 16px;
    }
    &__content{
      padding-right: 40px;
      p{
        font-size: 10px;
      }
    }
    &__link{
      display: flex;
      align-content: center;
      justify-content: space-between;
    }
    &__img{
      max-width: 74px;
      max-height: 90px;
      text-align: center;
    }
  }
}
