.breadcrumbs
    .breadcrumbs__list(class=`${breadcrumbsList}`)
        .breadcrumbs__item
            a.breadcrumbs__link(href="../../html/pages/index.html") Главная
        .breadcrumbs__item
            a.breadcrumbs__link(href="") Коллекции
        .breadcrumbs__item
            span.breadcrumbs__span(href="") Модерн
