footer.footer
    .footer__content.inner
        .footer__block
            .footer__menu
                .footer__menu-item
                    a.footer__menu-link.is-title О нас
                .footer__menu-item
                    a.footer__menu-link Бренд
                .footer__menu-item
                    a.footer__menu-link История
                .footer__menu-item
                    a.footer__menu-link Преимущества
                .footer__menu-item
                    a.footer__menu-link Тренды в стиле VeleLuce
                .footer__menu-item
                    a.footer__menu-link Контакты
        .footer__block
            .footer__menu
                .footer__menu-item
                    a.footer__menu-link.is-title Продукт
                .footer__menu-item
                    a.footer__menu-link Подвесные
                .footer__menu-item
                    a.footer__menu-link Потолочные
                .footer__menu-item
                    a.footer__menu-link Настенные
                .footer__menu-item
                    a.footer__menu-link Настольные
                .footer__menu-item
                    a.footer__menu-link Напольные
        .footer__block
            .footer__menu
                .footer__menu-item
                    a.footer__menu-link.is-title Категории
                .footer__menu-item
                    a.footer__menu-link Classic
                .footer__menu-item
                    a.footer__menu-link Constructor
                .footer__menu-item
                    a.footer__menu-link LED
                .footer__menu-item
                    a.footer__menu-link Modern
                .footer__menu-item
                    a.footer__menu-link Loft
                .footer__menu-item
                    a.footer__menu-link Crystal
                .footer__menu-item
                    a.footer__menu-link Spots
        .footer__block
            .footer__menu-item
                a.footer__menu-link 8(495) 154-48-46 г. Москва
            .footer__menu-item
                a.footer__menu-link 8(812) 648-48-47 г. Санкт-Петербург
            .footer__menu-item
                a.footer__menu-link 8(800) 100-75-80 Бесплатно по России
            .footer__menu-item
                a.footer__menu-link info@vamsvet.ru
            include ../includes/social-list
            .footer__btn.btn.is-transparent.is-black Позвонить мне
            .form-subscribe
                form.form-subscribe__form
                    input.form-subscribe__input(placeholder='EMAIL')
                    button.footer__btn.btn.is-transparent.is-black Подписаться

