head
    meta(charset="UTF-8")
    title= pageTitle
    script(type='text/javascript', src='../../js/vendors/jquery-3.4.1.min.js')
    script(type='text/javascript', src='../../js/vendors/jquery-ui.js')
    script(type='text/javascript', src='../../js/vendors/slick.min.js')
    script(type='text/javascript', src='../../js/vendors/maskedinput.min.js')
    script(type='text/javascript', src='../../js/vendors/jquery.touchSwipe.min.js')
    script(type='text/javascript', src='../../js/vendors/jquery.nicescroll.min.js')
    script(type='text/javascript', src='../../js/vendors/jquery.actual.min.js')
    //script(type='text/javascript', src='/js/vendors/hammer.min.js')
    //script(type='text/javascript', src='/js/vendors/jquery.hammer.js')
    script(type='text/javascript', src='../../js/minify-js/script.min.js')
    script(type='text/javascript', src='../../js/minify-js/index.min.js')
    script(type='text/javascript', src='../../js/minify-js/basket.min.js')
    script(type='text/javascript', src='../../js/minify-js/product.min.js')

    link(href='../../css/global.css', rel='stylesheet')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")


