.header
    .header__content.inner
        .header__left
            .main-menu
                .main-menu__burger
                    .main-menu__burger-line
                    .main-menu__burger-line
                    .main-menu__burger-line
                .main-menu__list
                    .main-menu__item
                        a(href="#") Главная
                    .main-menu__item
                        a(href="#") Доставка и оплата
                    .main-menu__item.is-select
                        a(href="#") Хочу чай
                    .main-menu__item
                        a(href="#") Блог
                        .main-menu__submenu
                            .main-menu__submenu-cont
                                .main-menu__item
                                    a(href="#") Акции
                                .main-menu__item
                                    a(href="#") Новости
                                .main-menu__item
                                    a(href="#") Обзоры
                    .main-menu__item
                        a(href="../../html/pages/contacts.html") Контакты
            .header__block-l
                .header__logo
                    img(src='../../images/logo_main.svg')
                .header__phone.icon-2h_phone
                    .header__phone-content
                        a.header__phone-link 8 (495) 320-20-20
                        .header__callback
                            span Обратный звонок
        .header__right
            .pers-info
                .pers-info__list
                    .pers-info__item.is-main
                        a.pers-info__link(href="../../html/pages/index.html")
                            .pers-info__icon.icon-2j_house
                            .pers-info__text Главная
                    .pers-info__item.is-catalog
                        a.pers-info__link(href="../../html/pages/catalog.html")
                            .pers-info__icon.icon-2i_katalog
                            .pers-info__text Каталаг
                    .pers-info__item
                        a.pers-info__link
                            .pers-info__icon.icon-1c_sravnn
                            .pers-info__text В сравнении
                            .pers-info__num
                                span 5
                    .pers-info__item
                        a.pers-info__link
                            .pers-info__icon.icon-1e_heart
                            .pers-info__text Отложенные
                            .pers-info__num
                                span 5
                    .pers-info__item
                        a.pers-info__link(href="../../html/pages/basket.html")
                            .pers-info__icon.icon-1g_coffecapn
                            .pers-info__text Корзина
                            .pers-info__num
                                span 5
            .search
                form.search__form
                    .search__fields
                        input.search__input(name="q", placeholder="Я ищу свой любимый кофе")
                        button.search__btn.icon-1i_search












