.menu-top
    .menu-top__list
        .menu-top__item
            a.menu-top__link(href="#")
                span Арабика
        .menu-top__item
            a.menu-top__link(href="#")
                span Арабика
        .menu-top__item
            a.menu-top__link(href="#")
                span Арабика
        .menu-top__item
            a.menu-top__link(href="#")
                span Арабика
        .menu-top__item
            a.menu-top__link(href="#")
                span Арабика
        .menu-top__item
            a.menu-top__link(href="#")
                span Арабика

