.pagination
    .pagination__list
        .pagination__item.is-back
            a(href="#").icon-1r_arrow Предыдущая страница
        .pagination__item
            a(href="") 1
            span
        .pagination__item
            a(href="") 2
            span
        .pagination__item
            a(href="") 3
            span
        .pagination__item.is-active
            a(href="") 4
            span
        .pagination__item
            a(href="") 5
            span
        .pagination__item.is-forward
            a(href="#").icon-1r_arrow Следующая страница
