@font-face {
	font-family: "IconsFont";
	font-display: swap;
	src: url('../fonts/IconsFont/IconsFont.eot?v=336');
	src: url('../fonts/IconsFont/IconsFont.eot?#iefix&v=336') format('eot'),
	url('../fonts/IconsFont/IconsFont.woff2?v=336') format('woff2'),
	url('../fonts/IconsFont/IconsFont.woff?v=336') format('woff'),
	url('../fonts/IconsFont/IconsFont.ttf?v=336') format('truetype'),
	url('../fonts/IconsFont/IconsFont.svg#IconsFont') format('svg');
}

@mixin icon-styles {
	font-family: "IconsFont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	font-size: 12px;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == 1a_star {
	$char: "\E001";
}
	@if $filename == 1b_star_full {
	$char: "\E002";
}
	@if $filename == 1c_sravnn {
	$char: "\E003";
}
	@if $filename == 1d_sravnn_full {
	$char: "\E004";
}
	@if $filename == 1e_heart {
	$char: "\E005";
}
	@if $filename == 1f_heart_full {
	$char: "\E006";
}
	@if $filename == 1g_coffecapn {
	$char: "\E007";
}
	@if $filename == 1h_galka {
	$char: "\E008";
}
	@if $filename == 1i_search {
	$char: "\E009";
}
	@if $filename == 1j_check {
	$char: "\E00A";
}
	@if $filename == 1k_aeroplan {
	$char: "\E00B";
}
	@if $filename == 1l_fb {
	$char: "\E00C";
}
	@if $filename == 1m_inst {
	$char: "\E00D";
}
	@if $filename == 1n_vk {
	$char: "\E00E";
}
	@if $filename == 1o_krest {
	$char: "\E00F";
}
	@if $filename == 1p_penc {
	$char: "\E010";
}
	@if $filename == 1r_arrow {
	$char: "\E011";
}
	@if $filename == 1s_twit {
	$char: "\E012";
}
	@if $filename == 1t_skype {
	$char: "\E013";
}
	@if $filename == 1u_mes {
	$char: "\E014";
}
	@if $filename == 1v_wats {
	$char: "\E015";
}
	@if $filename == 1w_inst {
	$char: "\E016";
}
	@if $filename == 1x_vk {
	$char: "\E017";
}
	@if $filename == 1y_fb {
	$char: "\E018";
}
	@if $filename == 1z_garbage {
	$char: "\E019";
}
	@if $filename == 2a_plus {
	$char: "\E01A";
}
	@if $filename == 2b_minus {
	$char: "\E01B";
}
	@if $filename == 2c_navig {
	$char: "\E01C";
}
	@if $filename == 2d_share {
	$char: "\E01D";
}
	@if $filename == 2e_obg_1 {
	$char: "\E01E";
}
	@if $filename == 2f_obg_2 {
	$char: "\E01F";
}
	@if $filename == 2g_obg_3 {
	$char: "\E020";
}
	@if $filename == 2h_phone {
	$char: "\E021";
}
	@if $filename == 2i_katalog {
	$char: "\E022";
}
	@if $filename == 2j_house {
	$char: "\E023";
}
	@if $filename == 2k_filter {
	$char: "\E024";
}
	@if $filename == 2l_sort {
	$char: "\E025";
}
	@if $filename == 2m_arrow-l {
	$char: "\E026";
}
	@if $filename == 2n_sca {
	$char: "\E027";
}
	@if $filename == 2o_phone {
	$char: "\E028";
}
	@if $filename == 2p_car {
	$char: "\E029";
}
	@if $filename == 2r_bean {
	$char: "\E02A";
}
	@if $filename == 2s_mel {
	$char: "\E02B";
}
	@if $filename == 2t_surp {
	$char: "\E02C";
}
	@if $filename == 2u_ten {
	$char: "\E02D";
}
	@if $filename == 2x_obg_1 {
	$char: "\E02E";
}
	@if $filename == 2y_sca {
	$char: "\E02F";
}
	@if $filename == 2z_bar {
	$char: "\E030";
}
	@if $filename == 3a_more {
	$char: "\E031";
}
	@if $filename == 3b_eye {
	$char: "\E032";
}
	@if $filename == 3c_kem {
	$char: "\E033";
}
	@if $filename == 3d_franch {
	$char: "\E034";
}
	@if $filename == 3e_aero {
	$char: "\E035";
}
	@if $filename == 3f_pur {
	$char: "\E036";
}
	@if $filename == 3g_espres {
	$char: "\E037";
}
	@if $filename == 3h_turka {
	$char: "\E038";
}
	@if $filename == 3i_sif {
	$char: "\E039";
}
	@if $filename == 3j_sp {
	$char: "\E03A";
}
	@if $filename == 3k_pom {
	$char: "\E03B";
}
	@if $filename == 3l_temp {
	$char: "\E03C";
}
	@if $filename == 3m_wat {
	$char: "\E03D";
}
	@if $filename == 3n_timer {
	$char: "\E03E";
}
	@if $filename == 3o_fb {
	$char: "\E03F";
}
	@if $filename == 3p_ok {
	$char: "\E040";
}
	@if $filename == 3r_vk {
	$char: "\E041";
}
	@if $filename == 3s_in {
	$char: "\E042";
}
	@if $filename == 3t_phone {
	$char: "\E043";
}
	@if $filename == 3u_mail {
	$char: "\E044";
}
	@if $filename == 3v_point {
	$char: "\E045";
}
	@if $filename == 3x_phone {
	$char: "\E046";
}

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
	@if $extend {
		@extend %icon;
	} @else {
		@include icon-styles;
	}
	content: icon-char($filename);
}
}

.icon-1a_star {
	@include icon(1a_star);
}
.icon-1b_star_full {
	@include icon(1b_star_full);
}
.icon-1c_sravnn {
	@include icon(1c_sravnn);
}
.icon-1d_sravnn_full {
	@include icon(1d_sravnn_full);
}
.icon-1e_heart {
	@include icon(1e_heart);
}
.icon-1f_heart_full {
	@include icon(1f_heart_full);
}
.icon-1g_coffecapn {
	@include icon(1g_coffecapn);
}
.icon-1h_galka {
	@include icon(1h_galka);
}
.icon-1i_search {
	@include icon(1i_search);
}
.icon-1j_check {
	@include icon(1j_check);
}
.icon-1k_aeroplan {
	@include icon(1k_aeroplan);
}
.icon-1l_fb {
	@include icon(1l_fb);
}
.icon-1m_inst {
	@include icon(1m_inst);
}
.icon-1n_vk {
	@include icon(1n_vk);
}
.icon-1o_krest {
	@include icon(1o_krest);
}
.icon-1p_penc {
	@include icon(1p_penc);
}
.icon-1r_arrow {
	@include icon(1r_arrow);
}
.icon-1s_twit {
	@include icon(1s_twit);
}
.icon-1t_skype {
	@include icon(1t_skype);
}
.icon-1u_mes {
	@include icon(1u_mes);
}
.icon-1v_wats {
	@include icon(1v_wats);
}
.icon-1w_inst {
	@include icon(1w_inst);
}
.icon-1x_vk {
	@include icon(1x_vk);
}
.icon-1y_fb {
	@include icon(1y_fb);
}
.icon-1z_garbage {
	@include icon(1z_garbage);
}
.icon-2a_plus {
	@include icon(2a_plus);
}
.icon-2b_minus {
	@include icon(2b_minus);
}
.icon-2c_navig {
	@include icon(2c_navig);
}
.icon-2d_share {
	@include icon(2d_share);
}
.icon-2e_obg_1 {
	@include icon(2e_obg_1);
}
.icon-2f_obg_2 {
	@include icon(2f_obg_2);
}
.icon-2g_obg_3 {
	@include icon(2g_obg_3);
}
.icon-2h_phone {
	@include icon(2h_phone);
}
.icon-2i_katalog {
	@include icon(2i_katalog);
}
.icon-2j_house {
	@include icon(2j_house);
}
.icon-2k_filter {
	@include icon(2k_filter);
}
.icon-2l_sort {
	@include icon(2l_sort);
}
.icon-2m_arrow-l {
	@include icon(2m_arrow-l);
}
.icon-2n_sca {
	@include icon(2n_sca);
}
.icon-2o_phone {
	@include icon(2o_phone);
}
.icon-2p_car {
	@include icon(2p_car);
}
.icon-2r_bean {
	@include icon(2r_bean);
}
.icon-2s_mel {
	@include icon(2s_mel);
}
.icon-2t_surp {
	@include icon(2t_surp);
}
.icon-2u_ten {
	@include icon(2u_ten);
}
.icon-2x_obg_1 {
	@include icon(2x_obg_1);
}
.icon-2y_sca {
	@include icon(2y_sca);
}
.icon-2z_bar {
	@include icon(2z_bar);
}
.icon-3a_more {
	@include icon(3a_more);
}
.icon-3b_eye {
	@include icon(3b_eye);
}
.icon-3c_kem {
	@include icon(3c_kem);
}
.icon-3d_franch {
	@include icon(3d_franch);
}
.icon-3e_aero {
	@include icon(3e_aero);
}
.icon-3f_pur {
	@include icon(3f_pur);
}
.icon-3g_espres {
	@include icon(3g_espres);
}
.icon-3h_turka {
	@include icon(3h_turka);
}
.icon-3i_sif {
	@include icon(3i_sif);
}
.icon-3j_sp {
	@include icon(3j_sp);
}
.icon-3k_pom {
	@include icon(3k_pom);
}
.icon-3l_temp {
	@include icon(3l_temp);
}
.icon-3m_wat {
	@include icon(3m_wat);
}
.icon-3n_timer {
	@include icon(3n_timer);
}
.icon-3o_fb {
	@include icon(3o_fb);
}
.icon-3p_ok {
	@include icon(3p_ok);
}
.icon-3r_vk {
	@include icon(3r_vk);
}
.icon-3s_in {
	@include icon(3s_in);
}
.icon-3t_phone {
	@include icon(3t_phone);
}
.icon-3u_mail {
	@include icon(3u_mail);
}
.icon-3v_point {
	@include icon(3v_point);
}
.icon-3x_phone {
	@include icon(3x_phone);
}
