@import "../blocks/sections";
@import "../blocks/footer";
.banner{
  background: $grayLight;
  &__item{
    &:hover{
      .banner__img{
        transform: scale(1.1);
      }
    }
  }
  &__list:not(.slick-initialized){
    opacity: 0;
  }
  &__img{
    transition: .3s;
    transform: scale(1);
  }
  .slick-list{
    max-width: 1480px;
    margin: auto;
    padding: 0;
  }
  .slick-dots{
    bottom: 24px;
  }
  .slick-dots li{
    margin: 0 10px;
    width: 40px;
    line-height: 18px;
  }
  .slick-dots li:after{
    width: 100%;
    height: 2px;
    background: $white;
    border-color: $white;
    border-radius: 0;
  }
  .slick-dots li.slick-active:after{
    background: $bege;
    border-color: $bege;
  }
  .slick-arrow{
    &.slick-prev{
      left: 20px;
    }
    &.slick-next{
      right: 20px;
    }
    &:before{
      //color: $blue;
    }
  }
}
.utp{
  margin: 20px 0;
  .slick-track{
    display: flex;
  }
  &__list{
    //display: flex;
    //justify-content: space-between;
  }
  &__item{
    position: relative;
    border-radius: 18px;
    transition: .4s;
    min-width: 200px;
    width: 200px;
    //float: left;
    //height: 230px;
    &:hover{
      @include Shadow();
    }
    &:not(:last-child){
      margin-right: 40px;
    }
  }
  &__text{
    position: absolute;
    color: $white;
    font-size: 16px;
    line-height: 20px;
    left: 10px;
    top: 10px;
  }
  &__img{
    //width: 230px;
    width: 100%;
    height: 100%;
  }
}
.hits{
  //padding: 0 20px;
  margin-top: 50px;
  .page-block-head{
    padding-left: 40px;
    margin-bottom: 40px;
  }
  .slick-list{
    width: 100%;
  }
}
.pomol{
  margin-top: 50px;
  padding: 0 20px;
  .slick-list{
    padding-right: 5px;
  }
  .page-block-head{
    padding-left: 40px;
    margin-bottom: 20px;
  }
  &__note{
    font-size: 16px;
    text-align: right;
    color: #6C6E70;
    padding: 20px 100px 0 0;
  }
  &__list{
    &:not(.slick-initialized){
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    margin-left: -10px;
  }
  &__item-wrap{
    padding: 20px 5px;
  }
  &__item{
    border: 1px solid $grayBorder;
    border-radius: 18px;
    overflow: hidden;
    background: #ffff;
    transition: .3s;
    cursor: pointer;
    padding: 20px 6px;
    padding-bottom: 40px;
    position: relative;
    &:after{
      content: '';
      display: block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: #c4c4c4;
      margin: auto;
      margin-top: 8px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &.is-franch{}
    &.is-kem{
      &:after{
        width: 18px;
        height: 18px;
      }
    }
    &.is-aero{
      &:after{
        width: 16px;
        height: 16px;
      }
    }
    &.is-sif{
      &:after{
        width: 14px;
        height: 14px;
      }
    }
    &.is-pur{
      &:after{
        width: 12px;
        height: 12px;
      }
    }
    &.is-kofe{
      &:after{
        width: 10px;
        height: 10px;
      }
    }
    &.is-kapsul{
      &:after{
        width: 8px;
        height: 8px;
      }
    }
    &.is-turka{
      &:after{
        width: 6px;
        height: 6px;
      }
    }
  }
  &__img{
    max-width: 100%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: auto;
    &>img{
      margin: auto;
      vertical-align: middle;
      display: inline-block;
      &:nth-child(1){
        opacity: 1;
        transition: .5s;
      }
      &:nth-child(2){
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        //bottom: 0;
        transform: translate(-50%,-50%);
        z-index: 1;
        transition: .5s;
      }
    }
  }
  &__name{
    text-align: center;
    margin-top: 8px;
    text-transform: uppercase;
  }
}
.sale{
  padding: 0 20px;
  margin-top: 50px;
  .page-block-head{
    padding-left: 40px;
    margin-bottom: 40px;
  }
  .slick-list{
    width: 100%;
  }
}
.map{
  padding: 0 20px;
  margin-top: 50px;
  .page-block-head{
    padding-left: 40px;
    margin-bottom: 50px;
  }
  &__country-top{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__flag{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid $grayBorder;
    top: 50%;
    margin-top: -15px;
    img{
      max-width: 150%;
      min-height: 100%;
    }
  }
  &__content{
    display: flex;
    align-items: center;
    padding-left: 20px;
    svg{
      fill: $grayBorder;
      transition: .4s;
      path{
        cursor: pointer;
        transition: all .4s ease-in-out;
        &:hover,
        &.is-hover{
          fill: url(#gradientblue);
        }
      }
    }
  }
  &__left{
    width: 690px;
  }
  &__right{
    width: 51%;
  }
  &__country-list{
    //column-count: 2;
    padding-left: 150px;
    margin: auto;
  }
  &__country-link{
    display: block;
    font-size: 18px;
    color: $grayBrown;
    transition: .3s;
    margin-bottom: 20px;
    cursor: pointer;
    width: 200px;
    position: relative;
    float: left;
    margin-right: 80px;
    &:hover{
      color: $brownDark;
      text-decoration: none;
    }
  }
  &__country-info{
    display: none;
    max-width: 500px;
  }
  &__text{
    position: absolute;
    background: $grayLight;
    padding: 15px 20px;
    border-radius: 14px;
    border: 1px solid $grayBorder;
    opacity: 0;
    transition: .4s;
    z-index: 5;
    span{
      font-size: 16px;
      font-weight: 500;
    }
   /* &:after{
      content: '';
      border: 10px solid transparent;
      border-top: 10px solid #fbfbfd;
      display: block;
      position: absolute;
      bottom: -20px;
      left: 20px;
    }*/
    .map__country-info{
      display: block;
    }
  }
}

.form{
  width: 1280px;
  max-width: 100%;
  margin: 50px auto 0 auto;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  &.is-opened{
    .form__content{
      opacity: 1;
      max-height: 2000px;
    }
    .page-title{
      &:before{
        transform: rotate(0);
      }
    }
  }
  .page-block-head{
    display: inline-block;
    position: relative;
  }
  .page-title{
    &:before{
      position: absolute;
      font-size: 10px;
      color: $grayBrown;
      right: -40px;
      top: 6px;
      display: block;
      transform: rotate(-180deg);
      transition: .3s;
    }
  }
  &__head{
    border-bottom: 1px solid $grayBorder;
    padding: 14px 0;
    text-align: center;
    display: block;
    cursor: pointer;
  }
  &__note{
    max-width: 420px;
    margin: auto;
    font-family: Helvetica,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: $grayBrown;
    padding-top: 8px;
  }
  &__content-wrap{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url('../images/develop/barista_1.png') right center no-repeat;
  }
  &__content{
    position: relative;
    padding-left: 70px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform-origin: top;
    transition: .4s ease-out;
  }
}
.index-form{
  position: relative;
  z-index: 1;
  &__quest{
    font-family: IstokWeb,sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin: 18px 0;
  }
  &__span{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
  }
  &__field-group{
    display: flex;
    flex-wrap: wrap;
    padding-right: 300px;
  }
  &__field{
    position: relative;
    margin-right: 50px;
    margin-bottom: 16px;
    width: 27%;

  }
  &__label{
    cursor: pointer;
    white-space: nowrap;
    &:hover{
      &+.index-form__note{
        opacity: 1;
        visibility: visible;
      }
    }
    &.disabled{
      opacity: .3;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  &__note{
    position: absolute;
    background: $grayLight;
    border: 1px solid $grayBorder;
    border-radius: 14px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    font-family: Helvetica,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 18px;
    width: 250px;
    bottom: 40px;
    color: $grayBrown;
    z-index: 4;

    &:after{
      content: '';
      border: 10px solid transparent;
      border-top: 10px solid #fbfbfd;
      display: block;
      position: absolute;
      bottom: -20px;
      left: 20px;
    }
    &:before{
      content: '';
      border: 10px solid transparent;
      border-top: 10px solid $grayBorder;
      display: block;
      position: absolute;
      bottom: -21px;
      left: 20px;
    }
  }
  &__btn{
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    height: 58px;
    line-height: 58px;
    padding: 0 34px;
    border-radius: 8px;
    display: inline-block;
    margin: auto;
  }
  &__btn-wrap{
    text-align: center;
    padding: 60px 0;
  }
}

////////////////////////////////////////////////////// reviews //////////////////////////////////////////////////////
.reviews{
  padding: 0 60px;
  margin-top: 70px;
  .page-block-head{
    margin-bottom: 50px;
  }
  &__list{
    //display: flex;
    //justify-content: space-between;
  }
  &__item{
    border: 1px solid $grayBorder;
    border-radius: 18px;
    background: $grayLight;
    padding-bottom: 10px;
    max-width: 296px;
    overflow: hidden;
    margin-right: 3.9em
  }
  &__top{
    background: $white;
    display: flex;
    height: 152px;
    padding-right: 10px;
    padding-top: 10px;
  }
  &__img{
    text-align: center;
    width: 110px;
    margin-right: 16px;
    img{
      max-height: 100%;
    }
  }
  &__product{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    display: block;
    padding-top: 8px;
    &>span{
      transition: .3s;
    }
    &:hover{
      &>span{
        color: $grayBrown;
      }
    }
  }
  &__stat{
    line-height: 16px;
    color: $grayBrown;
    margin-bottom: 5px;
    &>span{
      font-weight: bold;
    }
  }
  &__bottom{
    padding: 10px 18px;
    .catg__star{
      &:before{
        color: $bege;
      }
    }
  }
  &__name{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 10px;
  }
  &__text{
    font-size: 16px;
    line-height: 22px;
    height: 90px;
    overflow: hidden;
  }
  &__link-wrap{
    text-align: center;
  }
  &__link{
    border-bottom: 1px dashed $bege;
    transition: .3s;
    padding-top: 14px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: $bege;
    display: inline-block;
    white-space: nowrap;
    &:hover{
      text-decoration: none;
      border-bottom-color: transparent;
    }
  }
  &__image{
    margin: 0 10px;
    width: 100px;
    max-width: 100%;
    text-align: center;
    img{
      margin: auto;
    }
  }
}


////////////////////////////////////////////////////// views //////////////////////////////////////////////////////
.view{
  padding: 0 20px;
  margin-top: 70px;
  position: relative;
  .page-block-head{
    margin-bottom: 10px;
    padding-left: 40px;
  }
  &__item{
    padding: 40px;
  }
  &__content{
    display: flex;
    border: 1px solid $grayBorder;
    font-size: 16px;
    padding: 48px 20px;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    position: relative;
  }
  &__left{
    width: 48%;
  }
  &__right{
    width: 52%;
    padding: 0 30px;
  }
  &__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 22px;
    display: block;
  }
  &__main-desc{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    max-width: 100%;
  }
  &__desc-name{
    color: $grayBrown;
    white-space: nowrap;
    line-height: 22px;
  }
  &__describe{
    margin-top: 22px;
    height: 134px;
    overflow: hidden;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      background: #fff;
      right: 0;
      bottom: 0;
      height: 20px;
      background: linear-gradient(360deg, #fff, rgba(255, 255, 255, 0));
    }
  }
  &__sect{
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
  }
  &__text{
    line-height: 26px;
  }
  &__control-links{
    display: flex;
    margin-top: 28px;
    width: 390px;
    max-width: 100%;
    justify-content: space-between;
  }
  &__control-link{
    border-bottom: 1px dashed;
    line-height: 20px;
    transition: .3s;
    white-space: nowrap;
    &.is-view{
      color: $blue;
      border-bottom-color: $blue;
      &>a{
        color: $blue;
      }
      &:hover{
        border-bottom-color: transparent;
      }
    }
    &.is-good{
      color: $brownDark;
      border-bottom-color: $brownDark;
      &>a{
        color: $brownDark;
      }
      &:hover{
        border-bottom-color: transparent;
      }
    }
    &:hover{
      a{
        text-decoration: none;
      }
    }
  }
  .slick-arrow{
    top: 100px;
    border-color: $blue;
    &:before{
      color: $blue;
    }
    &:hover{
      border-color: $grayBrown;
      &:before{
        color: $grayBrown;
      }
    }
    &.slick-prev{
      right: 126px;
      left: auto;
    }
    &.slick-next{
      right: 70px;
    }
  }
  &__desc-value{
    text-align: right;
  }
  &__bottom-arrows{
    position: absolute;
    top: 80%;
    height: 26px;
    width: 90px;
    right: 0;
    display: none;
  }
  &__price-gr{
    color: #a5b557;
  }
}

.subscribe{
  //margin-top: 60px;
  background: $grayLight;

  padding: 52px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__wrap{
    background: $grayLight;
    border-top: 1px solid $grayBorder;
    border-bottom: 1px solid $grayBorder;
  }
  &__title{
    font-family: IstokWeb, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 37px;
    position: relative;
    padding-right: 95px;
    text-transform: uppercase;
    &:before{
      font-size: 54px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -27px;
    }
  }
  &__input{
    width: 400px;
    height: 58px;
    line-height: 58px;
    font-size: 18px;
    background: #FFFFFF;
    border: 1px solid $brownDark;
    border-radius: 6px;
    margin-right: 42px;
    &::placeholder{
      color: #c4c4c4;
      font-size: 18px;
    }
    &+.error{
      top: 100%;
      bottom: auto;
    }
  }
  &__field{
    position: relative;
  }
  &__fields{
    display: flex;
  }
  &__btn{
    height: 58px;
    line-height: 58px;
    font-size: 22px;
    text-transform: uppercase;
    width: 278px;
    text-align: center;
    border-radius: 8px;
  }
}

.index-banner-bottom{
  margin-top: 55px;
  .page-block-head{
    padding-left: 48px;
    margin-bottom: 30px;
  }
}
@media screen and(min-width: 641px){
  .pomol__item{
    padding-top: 10px;
    padding-bottom: 30px;
    &:hover{
      border-color: transparent;
      &:after{
        background: #ffffff;
      }
      @include Shadow();
      .pomol__img{
        &>img:nth-child(1){
          opacity: 0;
        }
        &>img:nth-child(2){
          opacity: 1;
        }
      }
      @include pomolColor();
    }
  }
}
@media #{$media-640} {
  .banner{
    border-radius: 14px 14px 0 0 ;
    overflow: hidden;
    .slick-dots {
      bottom: 6px;
    }
    .slick-dots li:after{
      height: 1px;
      width: 18px;
    }
  }
  .utp{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    &__item{
      width: 112px;
      min-width: 112px;
      &:not(:last-child){
        margin-right: 8px;
      }
    }
    &__text{
      font-size: 10px;
      line-height: 12px;
    }
  }
  .hits{
    padding: 0;
    margin-top: 30px;
    .page-block-head{
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
  .pomol{
    margin-top: 30px;
    padding: 0;
    .page-block-head{
      padding-left: 0;
      margin-bottom: 20px;
    }
    &__note{
      font-size: 10px;
      padding-right: 0;
    }
    &__item{
      border-color: transparent;
      &:after{
        background: #ffffff;
      }
        //@include Shadow();

       @include pomolColor();
    }
    &__img{
      width: 100px;
      height: 100px;
      &>img:nth-child(1){
        opacity: 0;
      }
      &>img:nth-child(2){
        opacity: 1;
      }
    }
    &__item-wrap{
      padding: 0 5px;
    }
    .slick-list{
      padding:0 20% 0 0;
    }
  }
  .sale{
    padding: 0;
    .page-block-head{
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
  .map{
    margin-top: 30px;
    padding: 0;
    .page-block-head{
      padding-left: 0;
      margin-bottom: 20px;
    }
    &__left{
      display: none;
    }
    &__right{
      width: 100%;
    }
    &__country-list{
      padding-left: 0;
    }
    &__flag{
      width: 20px;
      height: 20px;
    }
    &__country-link{
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
      width: 150px;
      margin-right: 5%;
    }
  }
  .form{
    margin-top: 30px;
    &__note{
      font-size: 10px;
      line-height: 10px;
      padding-top: 0;
      max-width: 296px;
    }
    &__content{
      padding-left: 14px;
    }
    &__head{
      padding: 4px 0;
    }
    .page-title:before{
      font-size: 8px;
      top: -1px;
      right: -30px;
    }
    &__content-wrap{
      opacity: 0.3;
    }
  }
  .index-form{
    &__span{
      font-size: 12px;
    }
    &__field-group{
      padding-right: 0;
    }
    &__field{
      margin-bottom: 12px;
      width: 34%;
    }
    &__quest{
      font-size: 12px;
      line-height: 16px;
      margin: 10px 0;
    }
    &__btn-wrap{
      padding: 12px 0 18px 0;
    }
    &__btn{
      width: 164px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      padding: 0 8px;
    }
  }
  .reviews{
    margin-top: 30px;
    padding: 0;
    .page-block-head{
      padding-left: 16px;
      margin-bottom: 20px;
    }
    .slick-track{
      margin-left: 3px;
    }
    &__top{
      height: 80px;
      padding-right: 6px;
    }
    &__right{
      min-width: 96px;
    }
    &__bottom{
      padding: 6px 10px;
    }
    &__item{
      margin-right: 6px;
    }
    &__product{
      font-size: 12px;
      line-height: 14px;
      padding: 0;
      margin-bottom: 8px;
    }
    &__stat{
      font-size: 10px;
      line-height: 10px;
      margin-bottom: 3px;
    }
    &__name{
      margin-top: 4px;
      font-size: 12px;
      line-height: 15px;
    }
    &__text{
      font-size: 11px;
      line-height: 14px;
    }
    &__link{
      font-size: 10px;
      line-height: 12px;
      padding-top: 10px;
    }

    .catg__star{
      &:before{
        font-size: 10px;
      }
      &:not(:last-child){
        margin-right: 2px;
      }
    }
  }
  .view{
    margin-top: 30px;
    padding: 0;
    width: calc(100% + 20px);
    margin-left: -10px;
    .slick-arrow{
      opacity: 1;
      top: 80px;
      &.slick-next{
        right: 30px;
      }
      &.slick-prev{
        right: 60px;
      }
    }
    .page-block-head{
      padding-left: 16px;
      margin-bottom: 20px;
    }
    &__item{
      padding: 10px;
    }
    &__content{
      display: block;
      padding: 28px 14px;
      box-shadow: 0 0 12px rgba(0,0,0,.1);
    }
    &__left{
      width: 100%;
    }
    &__right{
      width: 100%;
      padding: 0;
    }
    &__title{
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 12px;
    }
    &__desc-name{
      font-size: 12px;
      line-height: 15px;
    }
    &__desc-value{
      font-size: 12px;
      line-height: 15px;
    }
    &__describe{
      margin-top: 16px;
    }
    &__sect{
      font-size: 12px;
      margin-bottom: 8px;
      line-height: 16px;
    }
    &__text{
      font-size: 12px;
      line-height: 20px;
    }
    &__control-link{
      font-size: 12px;
      line-height: 16px;
    }
    &__bottom-arrows{
      display: block;
    }
  }

  ///subscribe

  .subscribe{
    padding: 12px 0;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 20px);
    &__title{
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      padding-right: 0;
      margin-bottom: 5px;
      &:before{
        font-size: 26px;
        margin-top: -12px;
        right: -40px;
      }
    }
    &__form{
      width: 100%;
      text-align: center;
    }
    &__field{
      margin-bottom: 10px;
    }
    &__input{
      height: 30px;
      line-height: 30px;
      width: 194px;
      margin-right: 0;
      &::placeholder{
        font-size: 14px;
        text-align: center;
      }
    }
    &__btn{
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      width: 194px;
      margin: auto;
    }
    &__fields{
      display: block;
    }
  }
  .index-banner-bottom{
    margin-top: 20px;
    margin-bottom: 100px;
    .page-block-head{
      padding-left: 10px;
      margin-bottom: 20px;
    }
    &__img{
      border-radius: 0 0 14px 14px;
      overflow: hidden;
    }
  }
}
