@charset "UTF-8";
.list-block {
  border-radius: 2px;
  background-color: #ffffff;
  padding: 2rem 3.5rem;
  border: 1px solid #ededed; }
  .list-block__title {
    position: relative;
    font-size: 24px;
    padding-left: 48px; }
    .list-block__title:before {
      position: absolute;
      left: 0;
      font-size: 26px !important;
      top: 50%;
      margin-top: -13px; }
  .list-block__menu {
    display: grid;
    grid-row-gap: 16px;
    grid-column-gap: 18px;
    font-size: 14px;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
    margin-top: 2rem; }
  .list-block__menu-el {
    position: relative;
    padding-left: 35px; }
    .list-block__menu-el:before {
      position: absolute;
      text-align: center;
      line-height: 28px;
      width: 25px;
      height: 28px;
      left: 0;
      top: 50%;
      margin-top: -14px; }
    .list-block__menu-el.icon1-1r_lustry:before {
      font-size: 17px; }
    .list-block__menu-el.icon1-1p_svetilniky:before {
      font-size: 23px; }
    .list-block__menu-el.icon1-1z_bra-i-podsvetki:before {
      font-size: 17px; }
    .list-block__menu-el.icon1-2a_spoty:before {
      font-size: 20px; }
    .list-block__menu-el.icon1-1y_nastolnye-lampy:before {
      font-size: 22px; }
    .list-block__menu-el.icon1-1s_torshery:before {
      font-size: 28px; }
    .list-block__menu-el.icon1-1t_ulichnoe:before {
      font-size: 24px; }
    .list-block__menu-el.icon1-1u_laytboksy:before {
      font-size: 19px; }
    .list-block__menu-el.icon1-1v_predmety-interera:before {
      font-size: 24px; }
    .list-block__menu-el.icon1-1w_lampochki:before {
      font-size: 24px; }
    .list-block__menu-el.icon1-1x_elektrotovary:before {
      font-size: 24px; }
    .list-block__menu-el a {
      display: block; }

.list-block.is-article {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: -40px;
  margin-bottom: -10px; }

@media screen and (max-width: 1299px) {
  .list-block.is-article {
    grid-column-start: 1;
    grid-column-end: 3; }
  .list-block__menu {
    grid-template-columns: repeat(3, auto); } }

@media (max-width: 550px) {
  .list-block.is-article {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-right: 1rem; }
    .list-block.is-article .list-block__title {
      font-size: 18px;
      padding-left: 32px; }
      .list-block.is-article .list-block__title:before {
        font-size: 18px !important;
        top: 16px; }
    .list-block.is-article .list-block__menu {
      grid-template-columns: repeat(1, auto);
      grid-auto-flow: row; } }

/*Новости*/
.third-news-in-line {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  Grid-column-gap: 30px;
  Grid-row-gap: 30px;
  margin-top: 32px; }

.highest-new {
  height: 356px;
  border: 1px solid #e5e5e5;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px; }
  .highest-new__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.title-of-new {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  height: 42px;
  overflow: hidden; }

#content.news-content-main .title-of-new a {
  color: #222222 !important; }

.content-news {
  line-height: 24px;
  font-size: 12px;
  height: 70px;
  width: 100%;
  overflow: hidden;
  display: block; }

.content-news a {
  text-decoration: none;
  font-size: 12px;
  color: #000; }
  .content-news a:hover {
    text-decoration: none; }

#content.news-content-main a {
  color: #337ab7 !important; }

#content.news-content-main a:hover {
  text-decoration: none;
  color: #171717 !important; }

.highest-new-pic-date {
  height: 150px;
  text-align: center; }

.highest-new-pic-date img {
  max-height: 100%;
  max-width: 100%; }

.date-of-news {
  display: block;
  font-size: 14px;
  color: #999999;
  margin-top: 8px; }

.long-new {
  width: 659px;
  height: 169px;
  border: 1px solid #e5e5e5;
  padding-right: 30px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 16px; }

.long-new img {
  margin-top: 13px;
  width: 247px;
  height: 135px; }

.long-new-text {
  width: 290px;
  padding-bottom: 9px;
  padding-top: 20px; }

.double-column-news .long-new:first-child {
  margin-top: 0; }

.two-news-column-and-left-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 32px; }

.longest-single-new {
  height: 155px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.longest-single-text {
  width: 626px;
  padding-top: 36px; }

.longest-single-new img {
  margin-top: 7px;
  width: 247px;
  height: 135px; }

.margen-news {
  margin-top: 33px; }

.highest-new-text a,
.long-new a {
  text-decoration: none; }

.highest-new-text a .content-news,
.long-new a .content-news {
  text-decoration: underline; }

.highest-new-text .content-news p {
  color: #000;
  text-decoration: none; }
  .highest-new-text .content-news p:hover {
    color: #337ab7;
    text-decoration: none; }

@media screen and (max-width: 1299px) {
  .third-news-in-line {
    grid-template-columns: repeat(2, auto); }
  .highest-new {
    padding-left: 49px;
    padding-right: 41px; } }

@media (max-width: 550px) {
  .third-news-in-line {
    grid-template-columns: repeat(1, auto); } }
