.breadcrumbs{
  margin-left: -18px;
  margin-top: 40px;
  font-size: 16px;
  &__list {
    display: flex;
    //flex-wrap: wrap;
    align-items: center;
    //overflow-x: scroll;
    //@include hideScroll();

    &.is-center{
      justify-content: center;
      margin-top: 10px;
    }
  }
  &__item{
    position: relative;
    z-index: 20;
    line-height: 1.3;
    &.is-link{
      &:after{
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #b9b9c2;
        vertical-align: middle;
      }
    }
    &.is-list{
      cursor: pointer;
        &>.breadcrumbs__link,
        &>.breadcrumbs__span{
          padding-right: 6px;
          //position: relative;
        }
    }

    &.is-hover{
      .breadcrumbs__plus{
        @extend .icon-2b_minus;
        &:before{
          transform: rotate(-180deg);
          margin-top: -8px;
        }
      }
    /*  &.is-list{
        &>.breadcrumbs__link,
        &>.breadcrumbs__span{
          @extend .icon-2b_minus;
          &:before{
            transform: rotate(-180deg);
            margin-top: -8px;
          }
        }
      }*/

      .breadcrumbs__sec-lvl{
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__plus{
    width: 40px;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: -2px;
    @extend .icon-2a_plus;
    cursor: pointer;
    &:before{
      color: $bege;
      font-size: 12px;
      display: inline-block;
      //position: absolute;
      //right: 12px;
      //top: 50%;
      //margin-top: -9px;
      line-height: 1;
      transition: .6s;
      font-weight: bold;
    }
    @media #{$media-640} {
      padding-left: 10px;
    }
  }
  &__sec-lvl{
    transition: .4s;
    transform-origin: center top;
    position: absolute;
    height: 0;
    opacity: 0;
    visibility: hidden;
    min-width: 150px;
    background: $grafit;
    padding: 10px 8px;
    border-radius: 10px;
    //@include Shadow();
    .breadcrumbs__item{
      white-space: nowrap;
      line-height: 1.4;
      .breadcrumbs__link{
        color: $white;
        display: inline-block;
        padding: 6px 8px;
      }

      &:hover{
        .breadcrumbs__link{
          color: $bege;
        }
      }
    }
  }
  &__sec-lvl-cont{
    padding: 6px 0;
    max-height: 200px;
    overflow-y: auto;
    @include niceScroll();
  }
  &__link{
    padding: 0 18px;
    text-align: left;
    color: $grayBrown;
    &:hover{
      color: $grafit;
    }
  }
  &__span{
    color: $grafit;
    padding: 0 18px;
    //margin-right: 12px;
  }
  &__link{
  }
}

@media #{$media-640} {
  .breadcrumbs{
    font-size: 14px;
    margin-top: 20px;
    //margin-top: 10px;
    &__list{
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow-x: scroll;
      padding-bottom: 220px;
      margin-bottom: -220px;
      @include hideScroll();
    }
    &__link{
      &:after{
        font-size: 8px;
      }
    }
    &+.page-block-head{
      margin-top: 20px;
    }
  }
}
