.f-label{
  color: $grayMiddle;
  background: $white;
  border: 1px dashed $grayMiddle;
  border-radius: 12px;
  padding: 16px 10px;
  margin-bottom: 12px;
  &__title{
    font-family: IstokWeb, sans-serif;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: $grayBorder;
    white-space: nowrap;
    margin-bottom: 6px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    padding: 0 6px;
    font-weight: bold;
  }
  &__info{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}
