.review-form{
  &__title{
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  &__input{
    height: 46px;
    line-height: 46px;
  }
  &__input,
  &__textarea{
    width: 100%;
    &:focus{
      border-color: $bege;
    }
  }
  &__textarea{
    height: 150px;
    &::-webkit-scrollbar { width: 4px; height: 4px;}
    &::-webkit-scrollbar-button {  background-color: $bege; }
    &::-webkit-scrollbar-track {  background-color: $bege;}
    &::-webkit-scrollbar-track-piece { background-color: #F1F1F1; border-radius: 10px; }
    &::-webkit-scrollbar-thumb { height: 16px; background-color: $bege; border-radius: 10px;}
    &::-webkit-scrollbar-corner { background-color: #999;}
    &::-webkit-resizer { background-color: #666;}
  }
  &__field{
    margin-bottom: 20px;
    &.is-stars{
      padding-left: 10px;
    }
  }
  &__label{
    color: $grayBrown;
  }
  .catg__stars{
    margin-top: 8px;
  }
  .catg__star{
    cursor: pointer;
    &:before{
      font-size: 34px !important;
    }
    @include icon(1a_star);
    &:not(:last-child){
      margin-right: 16px;
    }
    &.is-on{
      @include icon(1b_star_full);
    }
  }
  &__btn-wrap{
    display: flex;
  }
  &__btn{
    padding: 0 20px;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    &:not(:last-child){
      margin-right: 20px;
    }
  }
}

@media #{$media-640} {
  .review-form{
    &__title{
      font-size: 18px;
      line-height: 20px;
    }
    .catg__star:before {
      font-size: 26px!important;
    }
  }
}
